<section class="about" id="about">
  <div class="about-wrap container">
    <img class="about__img" src="assets/images/static/write.png" alt="">
    <div class="about__content">
      <h2 class="about__title">
        A little about us
      </h2>
      <div class="about__text">
        <p>
          We are  a company based in india with the motto “Digitalally 
          Designed India”. We are  a company based in india with the motto
          “Digitalally  Designed India”. We are  a company based in india
          with the motto “Digitalally  Designed India”.
        </p>
        <p>  
          We are  a company based in india with the motto “Digitalally
          Designed India”. We are  a company based in india with the 
          motto “Digitalally Designed India”.  We are  a company based in
          India with the motto “Digitalally Designed India”.  We are  a 
          company based in india with the motto “Digitalally Designed India”.
        </p>
      </div>
      <a href="#" class="about__btn">READ MORE DETAILS</a>
    </div>
  </div>
</section>