<div class="accordion">

<div class="container">
    <ul class="accordion__list">
        <li class="accordion__dad">
          <input id="accordion-1" class="accordion__dad-checkbox" type="checkbox">
          <label for="accordion-1" class="accordion__dad-main">
            
            <h2 class="accordion__dad-title section__title-2">Индивидуальный предприниматель</h2>
              <svg class="accordion__dad-img">
                <use xlink:href="assets/sprites/sprite.svg#triangle-accordion"></use>
              </svg>
          </label>
          <div class="accordion__child">
            <p class="accordion__child-paragraph">
                Гражданское законодательство Российской Федерации подразумевает несколько организационно-правовых форм ведения бизнеса. Выбор наиболее подходящего является первым этапом на пути любого субъекта, который решил заняться предпринимательской деятельностью.
            </p>
            <div class="accordion__child-row row">
              <div class="accordion__child-col">
                <h3 class="accordion__child-caption">Плюсы</h3>
                <ul>
                  <li  class="accordion__child-item">Не нужно вести полномасштабный бухгалтерский учет – достаточно простой книги учета доходов и расходов.
                    </li>
                  <li  class="accordion__child-item">Не нужно вести полномасштабный бухгалтерский учет – достаточно простой книги учета доходов и расходов.
                    </li>
                  <li  class="accordion__child-item">Не нужно вести полномасштабный бухгалтерский учет – достаточно простой книги учета доходов и расходов.
                    </li>
                  <li  class="accordion__child-item">Не нужно вести полномасштабный бухгалтерский учет – достаточно простой книги учета доходов и расходов.
                    </li>
                </ul>
              </div>
              <div class="accordion__child-col">
                <h3 class="accordion__child-caption">Плюсы</h3>
                <ul>
                  <li  class="accordion__child-item">Не нужно вести полномасштабный бухгалтерский учет – достаточно простой книги учета доходов и расходов.
                    </li>
                  <li  class="accordion__child-item">Не нужно вести полномасштабный бухгалтерский учет – достаточно простой книги учета доходов и расходов.
                    </li>
                  <li  class="accordion__child-item">Не нужно вести полномасштабный бухгалтерский учет – достаточно простой книги учета доходов и расходов.
                    </li>
                  <li  class="accordion__child-item">Не нужно вести полномасштабный бухгалтерский учет – достаточно простой книги учета доходов и расходов.
                    </li>
                </ul>
              </div>

            </div>
          </div>
        </li>
        <li class="accordion__dad">
          <input id="accordion-2" class="accordion__dad-checkbox" type="checkbox">
          <label for="accordion-2" class="accordion__dad-main">
            
            <h2 class="accordion__dad-title section__title-2">Индивидуальный предприниматель</h2>
              <svg class="accordion__dad-img">
                <use xlink:href="assets/sprites/sprite.svg#triangle-accordion"></use>
              </svg>
          </label>
          <div class="accordion__child">
            <p class="accordion__child-paragraph">
                Гражданское законодательство Российской Федерации подразумевает несколько организационно-правовых форм ведения бизнеса. Выбор наиболее подходящего является первым этапом на пути любого субъекта, который решил заняться предпринимательской деятельностью.
            </p>
            <div class="accordion__child-row row">
              <div class="accordion__child-col">
                <h3 class="accordion__child-caption">Плюсы</h3>
                <ul>
                  <li  class="accordion__child-item">Не нужно вести полномасштабный бухгалтерский учет – достаточно простой книги учета доходов и расходов.
                    </li>
                  <li  class="accordion__child-item">Не нужно вести полномасштабный бухгалтерский учет – достаточно простой книги учета доходов и расходов.
                    </li>
                  <li  class="accordion__child-item">Не нужно вести полномасштабный бухгалтерский учет – достаточно простой книги учета доходов и расходов.
                    </li>
                  <li  class="accordion__child-item">Не нужно вести полномасштабный бухгалтерский учет – достаточно простой книги учета доходов и расходов.
                    </li>
                </ul>
              </div>
              <div class="accordion__child-col">
                <h3 class="accordion__child-caption">Плюсы</h3>
                <ul>
                  <li  class="accordion__child-item">Не нужно вести полномасштабный бухгалтерский учет – достаточно простой книги учета доходов и расходов.
                    </li>
                  <li  class="accordion__child-item">Не нужно вести полномасштабный бухгалтерский учет – достаточно простой книги учета доходов и расходов.
                    </li>
                  <li  class="accordion__child-item">Не нужно вести полномасштабный бухгалтерский учет – достаточно простой книги учета доходов и расходов.
                    </li>
                  <li  class="accordion__child-item">Не нужно вести полномасштабный бухгалтерский учет – достаточно простой книги учета доходов и расходов.
                    </li>
                </ul>
              </div>

            </div>
          </div>
        </li>
        <li class="accordion__dad">
          <input id="accordion-3" class="accordion__dad-checkbox" type="checkbox">
          <label for="accordion-3" class="accordion__dad-main">
            
            <h2 class="accordion__dad-title section__title-2">Индивидуальный предприниматель</h2>
              <svg class="accordion__dad-img">
                <use xlink:href="assets/sprites/sprite.svg#triangle-accordion"></use>
              </svg>
          </label>
          <div class="accordion__child">
            <p class="accordion__child-paragraph">
                Гражданское законодательство Российской Федерации подразумевает несколько организационно-правовых форм ведения бизнеса. Выбор наиболее подходящего является первым этапом на пути любого субъекта, который решил заняться предпринимательской деятельностью.
            </p>
            <div class="accordion__child-row row">
              <div class="accordion__child-col">
                <h3 class="accordion__child-caption">Плюсы</h3>
                <ul>
                  <li  class="accordion__child-item">Не нужно вести полномасштабный бухгалтерский учет – достаточно простой книги учета доходов и расходов.
                    </li>
                  <li  class="accordion__child-item">Не нужно вести полномасштабный бухгалтерский учет – достаточно простой книги учета доходов и расходов.
                    </li>
                  <li  class="accordion__child-item">Не нужно вести полномасштабный бухгалтерский учет – достаточно простой книги учета доходов и расходов.
                    </li>
                  <li  class="accordion__child-item">Не нужно вести полномасштабный бухгалтерский учет – достаточно простой книги учета доходов и расходов.
                    </li>
                </ul>
              </div>
              <div class="accordion__child-col">
                <h3 class="accordion__child-caption">Плюсы</h3>
                <ul>
                  <li  class="accordion__child-item">Не нужно вести полномасштабный бухгалтерский учет – достаточно простой книги учета доходов и расходов.
                    </li>
                  <li  class="accordion__child-item">Не нужно вести полномасштабный бухгалтерский учет – достаточно простой книги учета доходов и расходов.
                    </li>
                  <li  class="accordion__child-item">Не нужно вести полномасштабный бухгалтерский учет – достаточно простой книги учета доходов и расходов.
                    </li>
                  <li  class="accordion__child-item">Не нужно вести полномасштабный бухгалтерский учет – достаточно простой книги учета доходов и расходов.
                    </li>
                </ul>
              </div>

            </div>
          </div>
        </li>

      
      </ul>
</div>
</div>