<div class="accordion accordion-documents">

<!-- <div class="container"> -->
    <ul class="accordion__list">
        <li class="accordion__dad">
          <input id="accordion-1" class="accordion__dad-checkbox" type="checkbox">
          <label for="accordion-1" class="accordion__dad-main container">
            
            <h2 class="accordion__dad-title section__title-2">Учредительные документы</h2>
              <svg class="accordion__dad-img">
                <use xlink:href="assets/sprites/sprite.svg#triangle-accordion"></use>
              </svg>
          </label>
          <div class="accordion__child">
              <div class="documents__block">
                  <div class="container row">
                    <ul class="documents__list">
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
              
                    </ul>
                    <div class="documents__img d-none-lg">
                      <svg>
                        <use xlink:href="assets/sprites/sprite.svg#folder"></use>
                      </svg>
                    </div>
                  </div>
              
                </div>
          </div>
        </li>
        <li class="accordion__dad">
          <input id="accordion-2" class="accordion__dad-checkbox" type="checkbox">
          <label for="accordion-2" class="accordion__dad-main container">
            
            <h2 class="accordion__dad-title section__title-2">Противодействие коррупции</h2>
              <svg class="accordion__dad-img">
                <use xlink:href="assets/sprites/sprite.svg#triangle-accordion"></use>
              </svg>
          </label>
          <div class="accordion__child">
              <div class="documents__block">
                  <div class="container row">
                    <ul class="documents__list">
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
              
                    </ul>
                    <div class="documents__img d-none-lg">
                      <svg>
                        <use xlink:href="assets/sprites/sprite.svg#folder"></use>
                      </svg>
                    </div>
                  </div>
              
                </div>
          </div>
        </li>
        <li class="accordion__dad">
          <input id="accordion-3" class="accordion__dad-checkbox" type="checkbox">
          <label for="accordion-3" class="accordion__dad-main container">
            
            <h2 class="accordion__dad-title section__title-2">Нормативные документы</h2>
              <svg class="accordion__dad-img">
                <use xlink:href="assets/sprites/sprite.svg#triangle-accordion"></use>
              </svg>
          </label>
          <div class="accordion__child">
              <div class="documents__block">
                  <div class="container row">
                    <ul class="documents__list">
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
              
                    </ul>
                    <div class="documents__img d-none-lg">
                      <svg>
                        <use xlink:href="assets/sprites/sprite.svg#folder"></use>
                      </svg>
                    </div>
                  </div>
              
                </div>
          </div>
        </li>
        <li class="accordion__dad">
          <input id="accordion-4" class="accordion__dad-checkbox" type="checkbox">
          <label for="accordion-4" class="accordion__dad-main container">
            
            <h2 class="accordion__dad-title section__title-2">Отчеты</h2>
              <svg class="accordion__dad-img">
                <use xlink:href="assets/sprites/sprite.svg#triangle-accordion"></use>
              </svg>
          </label>
          <div class="accordion__child">
              <div class="documents__block">
                  <div class="container row">
                    <ul class="documents__list">
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
                      <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
                          <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
                        </svg></a></li>
              
                    </ul>
                    <div class="documents__img d-none-lg">
                      <svg>
                        <use xlink:href="assets/sprites/sprite.svg#folder"></use>
                      </svg>
                    </div>
                  </div>
              
                </div>
          </div>
        </li>  
      </ul>
<!-- </div> -->
</div>