<div class="accordion">

<div class="container">
    <ul class="accordion__list">
        <li class="accordion__dad">
          <input id="accordion-1" class="accordion__dad-checkbox" type="checkbox">
          <label for="accordion-1" class="accordion__dad-main">
            
            <h2 class="accordion__dad-title section__title-2">Ваши тренинги</h2>
              <svg class="accordion__dad-img">
                <use xlink:href="assets/sprites/sprite.svg#triangle-accordion"></use>
              </svg>
          </label>
          <div class="accordion__child">
              <include src="src/html/includes/components/link-with-squarebtn-text-trening.html"></include>
              <include src="src/html/includes/components/link-with-squarebtn-text-trening.html"></include>
              <include src="src/html/includes/components/link-with-squarebtn-text-trening.html"></include>
          </div>
        </li>
        <li class="accordion__dad">
          <input id="accordion-2" class="accordion__dad-checkbox" type="checkbox">
          <label for="accordion-2" class="accordion__dad-main">
            
            <h2 class="accordion__dad-title section__title-2">Ваши мероприятия</h2>
              <svg class="accordion__dad-img">
                <use xlink:href="assets/sprites/sprite.svg#triangle-accordion"></use>
              </svg>
          </label>
          <div class="accordion__child">
              <include src="src/html/includes/components/link-with-squarebtn-text-trening.html"></include>
              <include src="src/html/includes/components/link-with-squarebtn-text-trening.html"></include>
              <include src="src/html/includes/components/link-with-squarebtn-text-trening.html"></include>
          </div>
        </li>
        <li class="accordion__dad">
          <input id="accordion-3" class="accordion__dad-checkbox" type="checkbox">
          <label for="accordion-3" class="accordion__dad-main">
            
            <h2 class="accordion__dad-title section__title-2">Рекомендуемоые тренинги и мероприятия</h2>
              <svg class="accordion__dad-img">
                <use xlink:href="assets/sprites/sprite.svg#triangle-accordion"></use>
              </svg>
          </label>
          <div class="accordion__child">
              <include src="src/html/includes/components/link-with-squarebtn-text-trening.html"></include>
              <include src="src/html/includes/components/link-with-squarebtn-text-trening.html"></include>
              <include src="src/html/includes/components/link-with-squarebtn-text-trening.html"></include>
          </div>
        </li>

      
      </ul>
</div>
</div>