<section class="allevents-day" id="allevents-day">
  <div class="container">


    <div class="allevents-day-thumbs">
        <div class="allevents-day-thumbs-next swiper-button-next d-none d-block-sm"><svg><use xlink:href="assets/sprites/sprite.svg#arrow"></use></svg></div>
        <div class="allevents-day-thumbs-prev swiper-button-prev d-none d-block-sm"><svg><use xlink:href="assets/sprites/sprite.svg#arrow"></use></svg></div>
      <div id="allevents-day-thumbs" class="allevents-day-thumbs-container swiper-container">
        <div class="allevents-day-thumbs-wrapper swiper-wrapper">
          <div class="allevents-day-thumbs-slide swiper-slide">
            01 Октября 2019
          </div>
          <div class="allevents-day-thumbs-slide swiper-slide ">
            02 Октября 2019
          </div>
          <div class="allevents-day-thumbs-slide swiper-slide">
            03 Октября 2019
          </div>
          <div class="allevents-day-thumbs-slide swiper-slide">
            04 Октября 2019
          </div>
          <div class="allevents-day-thumbs-slide swiper-slide">
            05 Октября 2019
          </div>
          <div class="allevents-day-thumbs-slide swiper-slide">
            06 Октября 2019
          </div>
        </div>
      </div>
    </div>
    <div class="allevents-day-slider">
      <div id="allevents-day-slider" class="allevents-day-container swiper-container">
        <div class="allevents-day-wrapper swiper-wrapper">
          <div class="allevents-day-slide swiper-slide" id="01-10-2019">
            <ul>
              <li class="trening">
                <include src="src/html/includes/components/link-with-squarebtn-text-trening.html"></include>
              </li>
              <li class="events">
                <include src="src/html/includes/components/link-with-squarebtn-text-event.html"></include>
              </li>
            </ul>
            <include src="src/html/includes/components/look-more.html"></include>

          </div>
          <div class="allevents-day-slide swiper-slide" id="02-10-2019">
            <ul>
              <li class="trening">
                <include src="src/html/includes/components/link-with-squarebtn-text-trening.html"></include>
              </li>
              <li class="events">
                <include src="src/html/includes/components/link-with-squarebtn-text-event.html"></include>
              </li>
              <li class="news">
                <include src="src/html/includes/components/link-with-squarebtn-text-new.html"></include>
              </li>
              <li class="trening">
                  <include src="src/html/includes/components/link-with-squarebtn-text-trening.html"></include>
                </li>
            </ul>
            <include src="src/html/includes/components/look-more.html"></include>
          </div>
          <div class="allevents-day-slide swiper-slide" id="03-10-2019">
            <ul>
              <li class="trening">
                <include src="src/html/includes/components/link-with-squarebtn-text-trening.html"></include>
              </li>
              <li class="events">
                <include src="src/html/includes/components/link-with-squarebtn-text-event.html"></include>
              </li>
              <li class="news">
                <include src="src/html/includes/components/link-with-squarebtn-text-new.html"></include>
              </li>
              <li class="events">
                <include src="src/html/includes/components/link-with-squarebtn-text-event.html"></include>
              </li>
              <li class="news">
                <include src="src/html/includes/components/link-with-squarebtn-text-new.html"></include>
              </li>
            </ul>
            <include src="src/html/includes/components/look-more.html"></include>
          </div>
          <div class="allevents-day-slide swiper-slide" id="04-10-2019">
            <ul>
              <li class="trening">
                <include src="src/html/includes/components/link-with-squarebtn-text-trening.html"></include>
              </li>
              <li class="events">
                <include src="src/html/includes/components/link-with-squarebtn-text-event.html"></include>
              </li>
              <li class="news">
                <include src="src/html/includes/components/link-with-squarebtn-text-new.html"></include>
              </li>
            </ul>
            <include src="src/html/includes/components/look-more.html"></include>
          </div>
          <div class="allevents-day-slide swiper-slide" id="05-10-2019">
            <ul>
              <li class="trening">
                <include src="src/html/includes/components/link-with-squarebtn-text-trening.html"></include>
              </li>
              <li class="events">
                <include src="src/html/includes/components/link-with-squarebtn-text-event.html"></include>
              </li>
              <li class="news">
                <include src="src/html/includes/components/link-with-squarebtn-text-new.html"></include>
              </li>
            </ul>
            <include src="src/html/includes/components/look-more.html"></include>
          </div>
          <div class="allevents-day-slide swiper-slide" id="06-10-2019">
            <ul>
              <li class="trening">
                <include src="src/html/includes/components/link-with-squarebtn-text-trening.html"></include>
              </li>
              <li class="events">
                <include src="src/html/includes/components/link-with-squarebtn-text-event.html"></include>
              </li>
              <li class="news">
                <include src="src/html/includes/components/link-with-squarebtn-text-new.html"></include>
              </li>
            </ul>
            <include src="src/html/includes/components/look-more.html"></include>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>