<section class="callback" id="callback">

  <div class="callback-wrap container">
    <div class="callback-content">
      <h3 class="callback__title">Any Queries | Get a quote</h3>
      <p class="callback__text">
          If you have any questions or queries regarding our service or pricing don’t worry
          Our experts will call you.
      </p>
    </div>
    <form action="#" class="callback-form">
      <input type="text" class="callback__input" id="callback__name" name="name" placeholder="Your name" required>
      <input type="text" class="callback__input" id="callback__phone" name="phone" placeholder="Your number" required>
      <button tupe="submit" class="callback__btn">Get a call</button>
    </form>
  </div>
</section>