<section class="clients" id="clients">
  <div class="clients-title-wrap section-title section-title--light container">
    <div class="section-title__decore section-title__decore--left"></div>
    <h2 class="section-title__text">
      clients
    </h2>
    <div class="section-title__decore section-title__decore--rigth"></div>
  </div>
  <div class="clients-wrap container">
    <div class="clients__item">
      <img class="clients__img" src="assets/images/static/adobe.png" alt="Adobe">
    </div>

    <div class="clients__item">
      <img class="clients__img" src="assets/images/static/guideline_based1.png" alt="guideline_based1">
    </div>
    <div class="clients__item">
      <img class="clients__img" src="assets/images/static/infosys-logo.png" alt="infosys-logo">
    </div>
    <div class="clients__item">
      <img class="clients__img" src="assets/images/static/invision.png" alt="invision">
    </div>
    <div class="clients__item">
        <img class="clients__img" src="assets/images/static/cisco-logo.png" alt="Cisco-logo">
      </div>
    <div class="clients__item">
      <img class="clients__img" src="assets/images/static/behance.png" alt="behance">
    </div>
                            <div class="clients__item">
                              <img class="clients__img" src="assets/images/static/Canva-Logo.png" alt="Canva-logo">
                            </div>
    <div class="clients__item">
      <img class="clients__img" src="assets/images/static/insta.png" alt="insta">
    </div>
  </div>
</section>