<section class="documents">
  <div class="container">
    <h2 class="documents__title section__title-2 mb-20">Документы</h2>
  </div>
  <div class="documents__block">
    <div class="container row">
      <ul class="documents__list">
        <li class="documents__item"><a href="#"><span>План-закупок АО Ненецкая нефтяная
              компания на период 01.01.2019
              по 31.12.2019
              (на 07.08.2019)</span> <svg>
              <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
            </svg></a></li>
        <li class="documents__item"><a href="#"><span>Мероприятия Корпорации МСП для обеспечения доступа субъектов МСП к закупкам крупнейших
              заказчиков</span> <svg>
              <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
            </svg></a></li>
        <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span> <svg>
              <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
            </svg></a></li>
        <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span> <svg>
              <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
            </svg></a></li>
        <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span> <svg>
              <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
            </svg></a></li>
      </ul>
    </div>

  </div>
</section>