<section class="documents">
  <div class="container">
    <h2 class="documents__title section__title-2 mb-20">Документы</h2>
  </div>
  <div class="documents__block">
    <div class="container row">
      <ul class="documents__list">
        <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
            <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
          </svg></a></li>
        <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
            <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
          </svg></a></li>
        <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
            <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
          </svg></a></li>
        <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
            <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
          </svg></a></li>
        <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
            <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
          </svg></a></li>
        <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
            <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
          </svg></a></li>
        <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
            <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
          </svg></a></li>
        <li class="documents__item"><a href="#"><span>Виды и условия микрозаймов</span>  <svg>
            <use xlink:href="assets/sprites/sprite.svg#download-arrow"></use>
          </svg></a></li>

      </ul>
      <div class="documents__img d-none-lg">
        <svg>
          <use xlink:href="assets/sprites/sprite.svg#folder"></use>
        </svg>
      </div>
    </div>

  </div>
</section>