<section class="event">
  <div class="container">
    <include src="src/html/includes/components/breadcrumbs.html"></include>
    <h1 class="event__title section__title-1">
      Новость
    </h1>
    <h2 class="event__subtitle section__title-2">
      1 октября 2019
    </h2>
    <div class="event-content-withimg">
      <div class="event-content-withimg-text">
        <p class="event-content__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
          esse cillum dolore eu</p>
        <p class="event-content__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
          esse cillum dolore eu</p>
      </div>
      <div class="event-content-withimg-img">
        <img src="assets/images/static/1.jpg" alt="">
      </div>
    </div>
    <div class="event-content-text">
      <p class="event-content__paragraph">С 15 по 18 октября 2019 года в КВЦ «Сокольники» состоится 19-я международная
        выставка сварочных материалов, оборудования и технологий Weldex 2019.</p>

      <p class="event-content__paragraph">Как отмечается, Weldex — это самая крупная отраслевая выставка, на которой
        ведущие отечественные и зарубежные производители и поставщики демонстрируют оборудование и материалы для
        сварки и резки. Отличительная особенность выставки — это широкая представленность оборудования в действии.</p>

      <p class="event-content__list-title">На выставке Weldex вы можете:
        <ul class="event-content__list">
          <li class="event-content__item"><span>выбрать необходимое сварочное оборудование и материалы</span></li>
          <li class="event-content__item"><span>увидеть оборудование в действии</span></li>
          <li class="event-content__item"><span>оценить технические характеристики</span></li>
          <li class="event-content__item"><span>изучить самые современные сварочные технологии</span></li>
          <li class="event-content__item"><span>заключить выгодные контракты</span></li>
          <li class="event-content__item"><span>получить консультации экспертов в области сварки и родственных
              процессов</span></li>
          <li class="event-content__item"><span>узнать о тенденциях и последних достижениях в отрасли на мероприятиях
              деловой программы.</span></li>
        </ul>
      </p>
      <p class="event-content__paragraph">Выставка ежегодно проводится при поддержке Министерства промышленности и
        торговли РФ, Госдумы РФ, Национального агентства Контроля Сварки, отраслевых союзов и международных
        организаций.</p>

    </div>
    <div class="event-content-withimg event-content-withimg--reverse">
      <div class="event-content-withimg-text">
        <p class="event-content__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
          esse cillum dolore eu</p>
        <p class="event-content__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
          esse cillum dolore eu</p>
      </div>
      <div class="event-content-withimg-img">
        <img src="assets/images/static/1.jpg" alt="" class="event-content__img event-content__img-b0">
      </div>
    </div>


    <include src="src/html/includes/components/picture-slider.html"></include>

    <div class="event-content-pagination">
      <a href="#" class="event-content-pagination__prev">
        <div class="event-content-pagination-button-prev">
          <svg>
            <use xlink:href="assets/sprites/sprite.svg#arrow"></use>
          </svg>
        </div>
        <span>
          Предыдущая новость
        </span>
      </a>
      <a href="#" class="event-content-pagination__next">
        <span>
          Следующая новость
        </span>
        <div class="event-content-pagination-button-next">
          <svg>
            <use xlink:href="assets/sprites/sprite.svg#arrow"></use>
          </svg>
        </div>
      </a>
    </div>
  </div>
  </div>
</section>