<section class="event">
  <div class="container">
    <include src="src/html/includes/components/breadcrumbs.html"></include>
    <h1 class="event__title section__title-1">
      Мероприятие
    </h1>
    <h2 class="event__subtitle section__title-2">
      1 октября 2019
    </h2>
    <div class="event-content-inter">
      <div class="event-content-inter-text">
        <p class="event-content__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
          esse cillum dolore eu</p>
        <button class="event-content-btn btn">Записаться</button>
      </div>
      <div class="event-content-inter-img">
        <img src="assets/images/static/1.jpg" alt="">
      </div>
    </div>


    <include src="src/html/includes/components/picture-slider.html"></include>
  </div>
  </div>
</section>