<section class="feedback" id="feedback">
  <div class="section-title section-title--dark container">
    <div class="section-title__decore section-title__decore--left"></div>
    <h2 class="section-title__text">
      Feedback
    </h2>
    <div class="section-title__decore section-title__decore--rigth"></div>
  </div>
  <div class="feedback-wrap container">
      <div class="feedback-top-container swiper-container">
          <div class="feedback-top-wrapper swiper-wrapper">
              <div class="feedback-top-slide swiper-slide">
                  <div class="feedback-top-slide__text">
                    <p>It was always a pleasure
                        doing bussiness with them. 
                       I love the quality of work.</p>
                  </div>
                  <div class="feedback-top-slide__num">1/10</div>
              </div>
              <div class="feedback-top-slide swiper-slide">
                  <div class="feedback-top-slide__text">
                    <p>It was always a pleasure
                        doing bussiness with them. 
                       I love the quality of work.</p>
                  </div>
                  <div class="feedback-top-slide__num">2/10</div>
              </div>
              <div class="feedback-top-slide swiper-slide">
                  <div class="feedback-top-slide__text">
                    <p>It was always a pleasure
                        doing bussiness with them. 
                       I love the quality of work.</p>
                  </div>
                  <div class="feedback-top-slide__num">3/10</div>
              </div>
              <div class="feedback-top-slide swiper-slide">
                  <div class="feedback-top-slide__text">
                    <p>It was always a pleasure
                        doing bussiness with them. 
                       I love the quality of work.</p>
                  </div>
                  <div class="feedback-top-slide__num">4/10</div>
              </div>
              <div class="feedback-top-slide swiper-slide">
                  <div class="feedback-top-slide__text">
                    <p>It was always a pleasure
                        doing bussiness with them. 
                       I love the quality of work.</p>
                  </div>
                  <div class="feedback-top-slide__num">5/10</div>
              </div>
              <div class="feedback-top-slide swiper-slide">
                  <div class="feedback-top-slide__text">
                    <p>It was always a pleasure
                        doing bussiness with them. 
                       I love the quality of work.</p>
                  </div>
                  <div class="feedback-top-slide__num">6/10</div>
              </div>
        
          </div>
          <div class="feedback-top-arrow feedback-top-arrow--prev swiper-button-prev"></div>
          <div class="feedback-top-arrow feedback-top-arrow--next swiper-button-next"></div>
      </div>
      <div class="feedback-thumbs-container swiper-container">
          <div class="feedback-thumbs-wrapper swiper-wrapper">
              <div class="feedback-thumbs-slide swiper-slide">
                <img class="feedback-thumbs-slide__img" src="assets/images/static/Model-1.png" alt="">
                <div class="feedback-thumbs-slide__content">
                  <div class="feedback-thumbs-slide__num">01</div>
                  <div class="feedback-thumbs-slide__info">
                    <span class="feedback-thumbs-slide__name">Imran Khan</span>
                    <span class="feedback-thumbs-slide__job">CEO, Vesso</span>
                  </div>
                </div>
              </div>
              <div class="feedback-thumbs-slide swiper-slide">
                <img class="feedback-thumbs-slide__img" src="assets/images/static/model-2.png" alt="">
                <div class="feedback-thumbs-slide__content">
                  <div class="feedback-thumbs-slide__num">02</div>
                  <div class="feedback-thumbs-slide__info">
                    <span class="feedback-thumbs-slide__name">Imran Khan</span>
                    <span class="feedback-thumbs-slide__job">CEO, Vesso</span>
                  </div>
                </div>
              </div>
              <div class="feedback-thumbs-slide swiper-slide">
                <img class="feedback-thumbs-slide__img" src="assets/images/static/model-3.png" alt="">
                <div class="feedback-thumbs-slide__content">
                  <div class="feedback-thumbs-slide__num">03</div>
                  <div class="feedback-thumbs-slide__info">
                    <span class="feedback-thumbs-slide__name">Imran Khan</span>
                    <span class="feedback-thumbs-slide__job">CEO, Vesso</span>
                  </div>
                </div>
              </div>
              <div class="feedback-thumbs-slide swiper-slide">
                <img class="feedback-thumbs-slide__img" src="assets/images/static/Model-1.png" alt="">
                <div class="feedback-thumbs-slide__content">
                  <div class="feedback-thumbs-slide__num">04</div>
                  <div class="feedback-thumbs-slide__info">
                    <span class="feedback-thumbs-slide__name">Imran Khan</span>
                    <span class="feedback-thumbs-slide__job">CEO, Vesso</span>
                  </div>
                </div>
              </div>
              <div class="feedback-thumbs-slide swiper-slide">
                <img class="feedback-thumbs-slide__img" src="assets/images/static/model-2.png" alt="">
                <div class="feedback-thumbs-slide__content">
                  <div class="feedback-thumbs-slide__num">05</div>
                  <div class="feedback-thumbs-slide__info">
                    <span class="feedback-thumbs-slide__name">Imran Khan</span>
                    <span class="feedback-thumbs-slide__job">CEO, Vesso</span>
                  </div>
                </div>
              </div>
              <div class="feedback-thumbs-slide swiper-slide">
                <img class="feedback-thumbs-slide__img" src="assets/images/static/model-3.png" alt="">
                <div class="feedback-thumbs-slide__content">
                  <div class="feedback-thumbs-slide__num">06</div>
                  <div class="feedback-thumbs-slide__info">
                    <span class="feedback-thumbs-slide__name">Imran Khan</span>
                    <span class="feedback-thumbs-slide__job">CEO, Vesso</span>
                  </div>
                </div>
              </div>
             
          </div>
          <!-- <div class="feedback-thumbs-arrow feedback-thumbs-arrow--prev swiper-button-prev"></div> -->
          <!-- <div class="feedback-thumbs-arrow feedback-thumbs-arrow--next swiper-button-next"></div> -->
      </div>
  </div>
</section>