<footer class="footer">

  <include src="src/html/includes/components/nav-footer.html"></include>
  <div class="container">
    <div class="footer-row">
        <div class="footer-logo">
            <a href="index.html">
            <img src="assets/images/static/logo.svg" alt="мой бизнес" class="footer-logo__main">
            <img src="assets/images/static/logo-2.png" alt="центр развития бизнеса" class="footer-logo__notmain">
            </a>
          </div>
          <div class="footer-cont">
          <address class="footer-address">
              Ненецкий АО,
              <br>
              г. Нарьян-Мар, ул. Ненецкая, д. 3
          </address>
          <ul class="footer-contacts">
              <li class="footer-contact">
                <span class="footer-contact__name">Микрозайм - </span>
                <a href="tel:+7( 81853) 2-30-15 " class="footer-contact__phone">+7( 81853) 2-30-15</a>
              </li>
              <li class="footer-contact">
                <span class="footer-contact__name">Лизинг - </span>
                <a href="tel:+7( 81853) 2-30-15 " class="footer-contact__phone">+7( 81853) 2-30-15</a>
              </li>
              <li class="footer-contact">
                <span class="footer-contact__name">Консультация - </span>
                <a href="tel:+7( 81853) 2-30-15 " class="footer-contact__phone">+7( 81853) 2-30-15</a>
              </li>
            </ul>
          </div>
            <ul class="footer-socials d-none-lg">
              <li class="footer-social"><a href="#" target="_blank"><svg class="footer-social__img"><use xlink:href="assets/sprites/sprite.svg#facebook"></use></svg></li>
              <li class="footer-social"><a href="#" target="_blank"><svg class="footer-social__img"><use xlink:href="assets/sprites/sprite.svg#vk"></use></svg></li>
              <li class="footer-social"><a href="#" target="_blank"><img class="footer-social__img" src="assets/images/static/instagram.svg" alt=""></li>
              <li class="footer-social"><a href="#" target="_blank"><svg class="footer-social__img"><use xlink:href="assets/sprites/sprite.svg#wifi-symbol"></use></svg></li>
            </ul>
    </div>
    <div class="footer-row">
      <div class="footer-copyright">
          © 2015-2016, все права защищены. Фонд поддержки предпринимательства и предоставления гарантий
          Ненецкого автономного округа. При копировании материалов активная ссылка на сайт обязательна.
      </div>
      <div class="footer-madein">
          Сделано в 
        <a href="http://t-code.ru" target="_blank">true.code</a>
      </div>
    </div>
  </div>

  
</footer>