<section class="guarantee-how">
  <div class="container">
    <h2 class="guarantee-how__title section__title-2">Нужен банковский кредит, а залога не хватает</h2>
    <div class="guarantee-how__list">
      <div class="guarantee-how-row guarantee-how-row--1">
        <div class="guarantee-how__item">
          <div class="guarantee-how__item-img">
            <div class="guarantee-how__item-num">1</div>
            <svg>
              <use xlink:href="assets/sprites/sprite.svg#bank-1"></use>
            </svg>
          </div>
          <div class="guarantee-how__item-text">
            <p>Предпринимаетель обращается
              в Банк-партнер с заявкой
              на получение кредита</p>
          </div>
        </div>
        <div class="guarantee-how__arrow">
            <include src="src/html/includes/components/long-arrow.html"></include>
        </div>
        <div class="guarantee-how__item">
          <div class="guarantee-how__item-img">
            <div class="guarantee-how__item-num">2</div>
            <svg>
              <use xlink:href="assets/sprites/sprite.svg#bank-2"></use>
            </svg>
          </div>
          <div class="guarantee-how__item-text">
            <p>Банк принимает решение
              о возможности кредитования</p>
          </div>
        </div>
        <div class="guarantee-how__arrow">
            <include src="src/html/includes/components/long-arrow.html"></include>
        </div>
        <div class="guarantee-how__item">
          <div class="guarantee-how__item-img">
            <div class="guarantee-how__item-num">3</div>
            <svg>
              <use xlink:href="assets/sprites/sprite.svg#bank-3"></use>
            </svg>
          </div>
          <div class="guarantee-how__item-text">
            <p>При недостаточности залога Банк
              совместо с Заемщиком направляет
              в Фонд заявку на оформление
              поручительства</p>
          </div>
          <div class="guarantee-how__item-arrow-1">
              <span class="guarantee-how__item-arrow-1-circle">
                  <span class="guarantee-how__item-arrow-1-tick">
                      <svg>
                          <use xlink:href="assets/sprites/sprite.svg#tick"></use>
                        </svg>
                  </span>
              </span>
          </div>
        </div>

      </div>
      <div class="guarantee-how-row guarantee-how-row--2">
          <div class="guarantee-how__item">
            <div class="guarantee-how__item-img">
              <div class="guarantee-how__item-num">4</div>
              <svg>
                <use xlink:href="assets/sprites/sprite.svg#bank-4">
                </use>
              </svg>
            </div>
            <div class="guarantee-how__item-text">
              <p>Фонд в течении 3-х рабочих дней
                рассматривает заявку
                и принимает решение</p>
            </div>
          </div>
          <div class="guarantee-how__arrow">
              <include src="src/html/includes/components/long-arrow.html"></include>
          </div>
          <div class="guarantee-how__item">
            <div class="guarantee-how__item-img">
              <div class="guarantee-how__item-num">5</div>
              <svg>
                <use xlink:href="assets/sprites/sprite.svg#bank-5">
                </use>
              </svg>
            </div>
            <div class="guarantee-how__item-text">
              <p>
                Банк, Фонд и Заемщик
                подписывают трехсторонний договор поручительства</p>
            </div>
          </div>
          <div class="guarantee-how__arrow">
              <include src="src/html/includes/components/long-arrow.html"></include>
          </div>
          <div class="guarantee-how__item">
            <div class="guarantee-how__item-img">
              <div class="guarantee-how__item-num">6</div>
              <svg>
                <use xlink:href="assets/sprites/sprite.svg#bank-6"></use>
              </svg>
            </div>
            <div class="guarantee-how__item-text">
              <p>
                Предприниматель оплачивает
                Фонду вознаграждение
                за предоставленное поручительство
              </p>
            </div>
          </div>
        </div>
        <div class="guarantee-how-row guarantee-how-row--3">
            <div class="guarantee-how__item-arrow-2">
              <span class="guarantee-how__item-arrow-2-line">
                  <span class="guarantee-how__item-arrow-2-circle"></span>
                  <span class="guarantee-how__item-arrow-2-tick">
                      <svg>
                          <use xlink:href="assets/sprites/sprite.svg#tick"></use>
                        </svg>
                  </span>
              </span>
            </div>
          <div class="guarantee-how__item">
            <!-- <div class="guarantee-how__item-arrow-2">
              <svg>
                <use xlink:href="assets/sprites/sprite.svg#long-arrow-2"></use>
              </svg>
            </div> -->
            <div class="guarantee-how__item-img">
              <div class="guarantee-how__item-num">7</div>
              <svg>
                <use xlink:href="assets/sprites/sprite.svg#bank-7"></use>
              </svg>
            </div>
            <div class="guarantee-how__item-text">
              <p>
                Предприниматель оплачивает
                Фонду вознаграждение
                за предоставленное поручительство</p>
            </div>
          </div>
          <div class="guarantee-how__block">
            </div>
        </div>
      </div>
    </div>
</section>