<section class="guarantee-banks">
    <div class="container">
        <h2 class="guarantee-banks__title section__title-2">Банки-партнеры</h2>
      <ul class="guarantee-banks__list">
        <li class="guarantee-banks__item">
          <div class="guarantee-banks__item-border guarantee-banks__item-border--top"></div>
          <div class="guarantee-banks__item-border guarantee-banks__item-border--right"></div>
          <div class="guarantee-banks__item-border guarantee-banks__item-border--bottom"></div>
          <div class="guarantee-banks__item-border guarantee-banks__item-border--left"></div>
          
          <h3 class="guarantee-banks__item-title">ПАО Сбербанк.</h3>
          <address class="guarantee-banks__item-address">Адрес: 117997, Россия,
              г. Москва, ул. Вавилова, д. 19</address>
              <div class="guarantee-banks__item-phones">
          тел.<a href="tel:88005555550" class="guarantee-banks__item-phone">8 (800) 555-55-50</a>;
          <a href="tel:+74955005550" class="guarantee-banks__item-phone">+7 (495) 500-55-50</a>.
        </div>
        </li>
        <li class="guarantee-banks__item">
          <div class="guarantee-banks__item-border guarantee-banks__item-border--top"></div>
          <div class="guarantee-banks__item-border guarantee-banks__item-border--right"></div>
          <div class="guarantee-banks__item-border guarantee-banks__item-border--bottom"></div>
          <div class="guarantee-banks__item-border guarantee-banks__item-border--left"></div>

          <h3 class="guarantee-banks__item-title">ПАО Сбербанк.</h3>
          <address class="guarantee-banks__item-address">Адрес: 117997, Россия,
              г. Москва, ул. Вавилова, д. 19</address>
              <div class="guarantee-banks__item-phones">
          тел.<a href="tel:88005555550" class="guarantee-banks__item-phone">8 (800) 555-55-50</a>;
          <a href="tel:+74955005550" class="guarantee-banks__item-phone">+7 (495) 500-55-50</a>.
        </div>
        </li>
        <li class="guarantee-banks__item">
          <div class="guarantee-banks__item-border guarantee-banks__item-border--top"></div>
          <div class="guarantee-banks__item-border guarantee-banks__item-border--right"></div>
          <div class="guarantee-banks__item-border guarantee-banks__item-border--bottom"></div>
          <div class="guarantee-banks__item-border guarantee-banks__item-border--left"></div>

          <h3 class="guarantee-banks__item-title">ПАО Сбербанк.</h3>
          <address class="guarantee-banks__item-address">Адрес: 117997, Россия,
              г. Москва, ул. Вавилова, д. 19</address>
              <div class="guarantee-banks__item-phones">
          тел.<a href="tel:88005555550" class="guarantee-banks__item-phone">8 (800) 555-55-50</a>;
          <a href="tel:+74955005550" class="guarantee-banks__item-phone">+7 (495) 500-55-50</a>.
        </div>
        </li>
        <li class="guarantee-banks__item">
          <div class="guarantee-banks__item-border guarantee-banks__item-border--top"></div>
          <div class="guarantee-banks__item-border guarantee-banks__item-border--right"></div>
          <div class="guarantee-banks__item-border guarantee-banks__item-border--bottom"></div>
          <div class="guarantee-banks__item-border guarantee-banks__item-border--left"></div>

          <h3 class="guarantee-banks__item-title">ПАО Сбербанк.</h3>
          <address class="guarantee-banks__item-address">Адрес: 117997, Россия,
              г. Москва, ул. Вавилова, д. 19</address>
              <div class="guarantee-banks__item-phones">
          тел.<a href="tel:88005555550" class="guarantee-banks__item-phone">8 (800) 555-55-50</a>;
          <a href="tel:+74955005550" class="guarantee-banks__item-phone">+7 (495) 500-55-50</a>.
        </div>
        </li>
        <li class="guarantee-banks__item">
          <div class="guarantee-banks__item-border guarantee-banks__item-border--top"></div>
          <div class="guarantee-banks__item-border guarantee-banks__item-border--right"></div>
          <div class="guarantee-banks__item-border guarantee-banks__item-border--bottom"></div>
          <div class="guarantee-banks__item-border guarantee-banks__item-border--left"></div>

          <h3 class="guarantee-banks__item-title">ПАО Сбербанк.</h3>
          <address class="guarantee-banks__item-address">Адрес: 117997, Россия,
              г. Москва, ул. Вавилова, д. 19</address>
              <div class="guarantee-banks__item-phones">
          тел.<a href="tel:88005555550" class="guarantee-banks__item-phone">8 (800) 555-55-50</a>;
          <a href="tel:+74955005550" class="guarantee-banks__item-phone">+7 (495) 500-55-50</a>.
        </div>
        </li>
      </ul>
    </div>
  </section>