<header class="header" id="header">
    <div class="header-wrap container">
      <div class="header__logo">
        lo<span class="header__logo--red">go</span>
      </div>
      <nav class="header-nav">
        <ul class="header-nav__list">
          <li class="header-nav__item">
            <a href="#">Home</a>
          </li>
          <li class="header-nav__item">
            <a href="#">About</a>
          </li>
          <li class="header-nav__item">
            <a href="#">Services</a>
          </li>
          <li class="header-nav__item">
            <a href="#">Portfolio</a>
          </li>
          <li class="header-nav__item">
            <a href="#">Shop</a>
          </li>
          <li class="header-nav__item">
            <a href="#">Contact</a>
          </li>
          <li class="header-nav__item">
            <a href="#">Pages</a>
          </li>
        </ul>
      </nav>
      <div class="header-socials">
        <ul class="header-socials__list">
          <li class="header-socials__item">
            <a href="#">
              <svg>
                  <use xlink:href="assets/sprites/sprite.svg#facebook-logo"></use>
              </svg>
            </a>
          </li>
          <li class="header-socials__item">
            <a href="#">
              <svg>
                  <use xlink:href="assets/sprites/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="header-socials__item">
            <a href="#">
              <svg>
                  <use xlink:href="assets/sprites/sprite.svg#google-plus"></use>
              </svg>
            </a>
          </li>
          <li class="header-socials__item toggle">
            <button id="toggle">Menu</button>
          </li>
        </ul>
      </div>
    </div>
</header>