<header class="header" id="header">
  <div class="header-row d-none-md">
    <div class="container">
      <ul class="header-contacts">
        <li class="header-contact">
          <span class="header-contact__name">Микрозайм</span>
          <a href="tel:+7( 81853) 2-30-15 " class="header-contact__phone">7( 81853) 2-30-15</a>
        </li>
        <li class="header-contact">
          <span class="header-contact__name">Лизинг </span>
          <a href="tel:+7( 81853) 2-30-15 " class="header-contact__phone">7( 81853) 2-30-15</a>
        </li>
        <li class="header-contact">
          <span class="header-contact__name">Консультация</span>
          <a href="tel:+7( 81853) 2-30-15 " class="header-contact__phone">7( 81853) 2-30-15</a>
        </li>
      </ul>
      <div class="header-comein">
        <button id="headerComeinLogin" class="header-comein__login btn-auth">Войти</button>
        <a href="reg-1.html" id="headerComeinReg" class="header-comein__reg btn btn--blue">Регистрация</a>
      </div>
      </div>
    </div>
    <div class="header-row">
        <div class="container">
      <div class="header-logo">
        <a href="index.html"><img src="assets/images/static/logo.svg" alt="мой бизнес" class="header-logo__main">
          <img src="assets/images/static/logo-2.png" alt="центр развития бизнеса" class="header-logo__notmain"></a>
      </div>
      <form class="header-search d-none-md">
        <input type="search" class="header-search__input" name="search" placeholder="поиск" aria-label="Поиск по сайту">
        <button class="header-search__btn">
          <svg>
            <use xlink:href="assets/sprites/sprite.svg#magnifying"></use>
          </svg>
        </button>
      </form>
      <button class="header-humburger" id="header-humburger">
        <span class="header-humburger-wrap">
          <span class="header-humburger-i"></span>
          <span class="header-humburger-i"></span>
          <span class="header-humburger-i"></span>
        </span>
        <div class="header-humburger__subtitle d-none-md">Меню</div>
      </button>
    </div>
    <include src="src/html/includes/components/nav-header.html"></include>
</header>