<section class="links">
  <div class="container">
    <h2 class="links__title section__title-3">Полезные ссылки</h2>
    <div class="links__box">
      <div class="links__box-col">
        <a href="#" class="links__item" target="_blank">
          <img src="/assets/images/static/ban-1.jpg" alt="">
        </a>
      </div>
      <div class="links__box-col">
        <a href="#" class="links__item" target="_blank">
          <img src="assets/images/static/ban-2.jpg" alt="">
        </a>
        <a href="#" class="links__item" target="_blank">
          <img src="assets/images/static/ban-3.jpg" alt="">
        </a>
      </div>
      <div class="links__box-col">
        <a href="#" class="links__item" target="_blank">
          <img src="assets/images/static/ban-4.jpg" alt="">
        </a>
        <a href="#" class="links__item" target="_blank">
          <img src="assets/images/static/ban-5.jpg" alt="">
        </a>
        <a href="#" class="links__item" target="_blank">
          <img src="assets/images/static/ban-6.jpg" alt="">
        </a>
        <a href="#" class="links__item" target="_blank">
          <img src="assets/images/static/ban-7.jpg" alt="">
        </a>
        <a href="#" class="links__item" target="_blank">
          <img src="assets/images/static/ban-8.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</section>