<section class="lising-types">
  <div class="container">
    <h2 class="lising-types__title section__title-2">Виды лизинга</h2>
    <dl class="lising-types__definitions">
      <dt>Старт</dt>
      <dd>
        <p>
          для всех субъектов малого и среднего предпринимательства с регистрацией от 3 (трех) месяцев до 1 (одного) года. Наличие бизнес-плана на 3 (три) года. Срок до 36 мес. 
        </p>
        <p>
          Ставка – от 8,5 % годовых. Авансовый платеж от 5 до 49%. Максимальная сумма лизинга 3 млн. рублей.
        </p>
      </dd>

      <dt>Старт</dt>
      <dd>
        <p>
          для всех субъектов малого и среднего предпринимательства с регистрацией от 3 (трех) месяцев до 1 (одного) года. Наличие бизнес-плана на 3 (три) года. Срок до 36 мес. 
        </p>
        <p>
          Ставка – от 8,5 % годовых. Авансовый платеж от 5 до 49%. Максимальная сумма лизинга 3 млн. рублей.
        </p>
      </dd>
      <dt>Старт</dt>
      <dd>
        <p>
          для всех субъектов малого и среднего предпринимательства с регистрацией от 3 (трех) месяцев до 1 (одного) года. Наличие бизнес-плана на 3 (три) года. Срок до 36 мес. 
        </p>
        <p>
          Ставка – от 8,5 % годовых. Авансовый платеж от 5 до 49%. Максимальная сумма лизинга 3 млн. рублей.
        </p>
      </dd>
      <dt>Старт</dt>
      <dd>
        <p>
          для всех субъектов малого и среднего предпринимательства с регистрацией от 3 (трех) месяцев до 1 (одного) года. Наличие бизнес-плана на 3 (три) года. Срок до 36 мес. 
        </p>
        <p>
          Ставка – от 8,5 % годовых. Авансовый платеж от 5 до 49%. Максимальная сумма лизинга 3 млн. рублей.
        </p>
      </dd>
      <dt>Старт</dt>
      <dd>
        <p>
          для всех субъектов малого и среднего предпринимательства с регистрацией от 3 (трех) месяцев до 1 (одного) года. Наличие бизнес-плана на 3 (три) года. Срок до 36 мес. 
        </p>
        <p>
          Ставка – от 8,5 % годовых. Авансовый платеж от 5 до 49%. Максимальная сумма лизинга 3 млн. рублей.
        </p>
      </dd>
    </dl>



    <include src="src/html/includes/components/look-more.html"></include>
         
  </div>
</section>