<div class="list">
  <div class="container">
    <h2 class="list__title section__title-2">Деятельность Координационного <br>
        совета направлена на решение следующих задач: </h2>
    <ul class="list__items">
      <li class="list__item">заявление о государственной регистрации физического лица в качестве индивидуального
        предпринимателя (форма № Р21001);</li>
      <li class="list__item">заявление о государственной регистрации физического лица в качестве индивидуального
        предпринимателя (форма № Р21001);</li>
      <li class="list__item">заявление о государственной регистрации физического лица в качестве индивидуального
        предпринимателя (форма № Р21001);</li>
      <li class="list__item">заявление о государственной регистрации физического лица в качестве индивидуального
        предпринимателя (форма № Р21001);</li>
      <li class="list__item">заявление о государственной регистрации физического лица в качестве индивидуального
        предпринимателя (форма № Р21001);</li>
    </ul>
  </div>
</div>