<section class="main" id="main">
  <div class="main-wrap container">
      <div class="main-swiper-container swiper-container">
          <div class="main-swiper-wrapper swiper-wrapper">
              <div class="main-swiper-slide swiper-slide">
                <div class="main-swiper-slide__inner-wrap">
                  <h1 class="main-swiper-slide__title">The Best Services</h1>
                  <p class="main-swiper-slide__text">We provide the best services in the world We provide the best services in the world We provide the best services in the world</p>
                  <a href="#" class="main-swiper-slide__btn">Hire US</a>
                </div>
              </div>
              <div class="main-swiper-slide swiper-slide">
                <div class="main-swiper-slide__inner-wrap">
                  <h1 class="main-swiper-slide__title">The Best Services 2</h1>
                  <p class="main-swiper-slide__text">We provide the best services in the world We provide the best services in the world We provide the best services in the world</p>
                  <a href="#" class="main-swiper-slide__btn">Hire US</a>
                </div>
              </div>
              <div class="main-swiper-slide swiper-slide">
                <div class="main-swiper-slide__inner-wrap">
                  <h1 class="main-swiper-slide__title">The Best Services 3</h1>
                  <p class="main-swiper-slide__text">We provide the best services in the world We provide the best services in the world We provide the best services in the world</p>
                  <a href="#" class="main-swiper-slide__btn">Hire US</a>
                </div>
              </div>
          </div>
          <div class="main-swiper-arrow main-swiper-arrow--prev swiper-button-prev"></div>
          <div class="main-swiper-arrow main-swiper-arrow--next swiper-button-next"></div>
      </div>
  </div>
</section>