<section id="main-page" class="main-page">
    <div class="container">
  
  <include src="src/html/includes/components/breadcrumbs.html"></include>
    </div>
  <div class="container row">
    <div class="main-page-content">
   
      <h1 class="main-page__title section__title-1">
          Лизинг
      </h1>
      <div class="main-page-figure d-none d-block-sm">
          <img src="assets/images/static/lising-main.svg" alt="">
              </div>
      <div class="main-page__text">
          <p><strong>Поручительство</strong> – письменное обязательство Фонда отвечать перед Банком-партнером за исполнение Заемщиком его обязательств по договорам кредита на условиях, определенных в договоре поручительства. Под обязательствами Заемщика по кредитному договору понимается денежная сумма кредита. </p>

          <p>Целью предоставления Поручительств является ускорение темпов развития субъектов малого и среднего предпринимательства Ненецкого автономного округа за счет расширения и облегчения доступа к ресурсам финансовых организаций для становления и развития бизнеса.</p>
      </div>
    </div>
    <div class="main-page-figure d-none-sm">
<img src="assets/images/static/lising-main.svg" alt="">
    </div>
  </div>

</section>