<section id="main" class="main slide active">
  <div class="container row">
    <div class="main-content">
      <span class="main__title-sup">
        Центр развития бизнеса НАО
      </span>
      <h1 class="main__title">
        ЦЕНТР
        <br>
        &ldquo;МОЙ БИЗНЕС&rdquo;
      </h1>
      <span class="main__title-sub">
        Ненецкого автономного округа
      </span>
      <button class="btn">Заказать звонок</button>
    </div>
    <div class="main-figure">
      <div class="main-figure__img">
        <object type="image/svg+xml" data="assets/images/static/main.svg">
          <img src="assets/images/static/main.svg">
        </object>
      </div>


      <!-- <object class="main-figure__img" type="image/svg+xml" data="assets/images/static/main-rocket.svg"> -->

    </div>
  </div>

</section>