<section class="microfinance-calc" id="microfinance-calc ">
  <div class="container">
    <h2 class="microfinance-calc__title section__title-2">Калькулятор</h2>
    <div class="microfinance-calc__wrap">
    <h3 class="microfinance-calc__subtitle">Калькулятор</h3>
      <div class="microfinance-calc__row row">
      <div class="microfinance-calc__thumbs">
        <div class="microfinance-calc__thumbs-container swiper-container swiper-container-vertical">
          <div class="microfinance-calc__thumbs-wrapper swiper-wrapper">
            <a href="#" class="microfinance-calc__thumbs-item swiper-slide">
              <span class="microfinance-calc__thumbs-item-num">6%</span>
              <span class="microfinance-calc__thumbs-item-text">Старт</span>
              
            </a>
            <a href="#" class="microfinance-calc__thumbs-item swiper-slide swiper-slide-thumb-next">
              <span class="microfinance-calc__thumbs-item-num">6%</span>
              <span class="microfinance-calc__thumbs-item-text">Бизнес инвест</span>

            </a>
            <a href="#" class="microfinance-calc__thumbs-item swiper-slide">
              <span class="microfinance-calc__thumbs-item-num">6%</span>
              <span class="microfinance-calc__thumbs-item-text">НовоТех</span>

            </a>
            <a href="#" class="microfinance-calc__thumbs-item swiper-slide">
              <span class="microfinance-calc__thumbs-item-num">6%</span>
              <span class="microfinance-calc__thumbs-item-text">На доверии</span>

            </a>
            <a href="#" class="microfinance-calc__thumbs-item swiper-slide">
              <span class="microfinance-calc__thumbs-item-num">6%</span>
              <span class="microfinance-calc__thumbs-item-text">Коммерческая недвижимость</span>

            </a>
            <a href="#" class="microfinance-calc__thumbs-item swiper-slide swiper-slide-thumb-prev">
              <span class="microfinance-calc__thumbs-item-num">6%</span>
              <span class="microfinance-calc__thumbs-item-text">Северный</span>

            </a>
            <a href="#" class="microfinance-calc__thumbs-item swiper-slide swiper-slide-thumb-prev">
              <span class="microfinance-calc__thumbs-item-num">6%</span>
              <span class="microfinance-calc__thumbs-item-text">Бизнес оборот</span>

            </a>
          </div>
        </div>
      </div>

      <div class="microfinance-calc__main" id="microfinance-calc__main">
        <div class="microfinance-calc__main-container swiper-container">
          <ul class="microfinance-calc__main-wrapper swiper-wrapper">
            <li class="microfinance-calc__main-item swiper-slide">
                <div class="microfinance-calc__main-rules">
                    <h4 class="microfinance-calc__main-caption">Основный условия</h4>
                    <dl>
                      <dt class="microfinance-calc__main-term">Сумма</dt>
                      <dd class="microfinance-calc__main-def">от 100 000 до 1 000 000 рублей</dd>
                      <dt class="microfinance-calc__main-term">Процентная ставка</dt>
                      <dd class="microfinance-calc__main-def">5,0 % годовых</dd>
                      <dt class="microfinance-calc__main-term">Срок предоставления</dt>
                      <dd class="microfinance-calc__main-def">от 3 до 24 месяцев</dd>
                    </dl>
                </div>
                <form action="" class="microfinance-calc__main-form">
                  
                  <label class="microfinance-calc__main-row">
                    <span  class="microfinance-calc__main-label label"> Сумма микрозайма </span>
                    <input type="number" name="sum" class="microfinance-calc__main-input input" placeholder="5000">
                  </label>
                  <label class="microfinance-calc__main-row">
                    <span  class="microfinance-calc__main-label label"> Предполагаемая дата
                        получения микрозайма </span>
                    <input type="date" name="sum" class="microfinance-calc__main-input input" placeholder="5000">
                  </label>
                  <label class="microfinance-calc__main-row">
                    <span  class="microfinance-calc__main-label label"> Планируемый срок
                        микрозайма, месяцев </span>
                    <input type="number" name="sum" class="microfinance-calc__main-input input" placeholder="5000">
                  </label>
                  <button class="microfinance-calc__main-btn btn btn--bigger">Рассчитать</button>
                </form>
            </li>
            <li class="microfinance-calc__main-item swiper-slide">
                <div class="microfinance-calc__main-rules">
                    <h4 class="microfinance-calc__main-caption">Основный условия</h4>
                    <dl>
                      <dt class="microfinance-calc__main-term">Сумма</dt>
                      <dd class="microfinance-calc__main-def">от 100 000 до 1 000 000 рублей</dd>
                      <dt class="microfinance-calc__main-term">Процентная ставка</dt>
                      <dd class="microfinance-calc__main-def">5,0 % годовых</dd>
                      <dt class="microfinance-calc__main-term">Срок предоставления</dt>
                      <dd class="microfinance-calc__main-def">от 3 до 24 месяцев</dd>
                    </dl>
                </div>
                <form action="" class="microfinance-calc__main-form">
                  
                  <label class="microfinance-calc__main-row">
                    <span  class="microfinance-calc__main-label label"> Сумма микрозайма </span>
                    <input type="number" name="sum" class="microfinance-calc__main-input input" placeholder="5000">
                  </label>
                  <label class="microfinance-calc__main-row">
                    <span  class="microfinance-calc__main-label label"> Предполагаемая дата
                        получения микрозайма </span>
                    <input type="date" name="sum" class="microfinance-calc__main-input input" placeholder="5000">
                  </label>
                  <label class="microfinance-calc__main-row">
                    <span  class="microfinance-calc__main-label label"> Планируемый срок
                        микрозайма, месяцев </span>
                    <input type="number" name="sum" class="microfinance-calc__main-input input" placeholder="5000">
                  </label>
                  <button class="microfinance-calc__main-btn btn btn--bigger">Рассчитать</button>
                </form>
            </li>
            <li class="microfinance-calc__main-item swiper-slide">
                <div class="microfinance-calc__main-rules">
                    <h4 class="microfinance-calc__main-caption">Основный условия</h4>
                    <dl>
                      <dt class="microfinance-calc__main-term">Сумма</dt>
                      <dd class="microfinance-calc__main-def">от 100 000 до 1 000 000 рублей</dd>
                      <dt class="microfinance-calc__main-term">Процентная ставка</dt>
                      <dd class="microfinance-calc__main-def">5,0 % годовых</dd>
                      <dt class="microfinance-calc__main-term">Срок предоставления</dt>
                      <dd class="microfinance-calc__main-def">от 3 до 24 месяцев</dd>
                    </dl>
                </div>
                <form action="" class="microfinance-calc__main-form">
                  
                  <label class="microfinance-calc__main-row">
                    <span  class="microfinance-calc__main-label label"> Сумма микрозайма </span>
                    <input type="number" name="sum" class="microfinance-calc__main-input input" placeholder="5000">
                  </label>
                  <label class="microfinance-calc__main-row">
                    <span  class="microfinance-calc__main-label label"> Предполагаемая дата
                        получения микрозайма </span>
                    <input type="date" name="sum" class="microfinance-calc__main-input input" placeholder="5000">
                  </label>
                  <label class="microfinance-calc__main-row">
                    <span  class="microfinance-calc__main-label label"> Планируемый срок
                        микрозайма, месяцев </span>
                    <input type="number" name="sum" class="microfinance-calc__main-input input" placeholder="5000">
                  </label>
                  <button class="microfinance-calc__main-btn btn btn--bigger">Рассчитать</button>
                </form>
            </li>
            <li class="microfinance-calc__main-item swiper-slide">
                <div class="microfinance-calc__main-rules">
                    <h4 class="microfinance-calc__main-caption">Основный условия</h4>
                    <dl>
                      <dt class="microfinance-calc__main-term">Сумма</dt>
                      <dd class="microfinance-calc__main-def">от 100 000 до 1 000 000 рублей</dd>
                      <dt class="microfinance-calc__main-term">Процентная ставка</dt>
                      <dd class="microfinance-calc__main-def">5,0 % годовых</dd>
                      <dt class="microfinance-calc__main-term">Срок предоставления</dt>
                      <dd class="microfinance-calc__main-def">от 3 до 24 месяцев</dd>
                    </dl>
                </div>
                <form action="" class="microfinance-calc__main-form">
                  
                  <label class="microfinance-calc__main-row">
                    <span  class="microfinance-calc__main-label label"> Сумма микрозайма </span>
                    <input type="number" name="sum" class="microfinance-calc__main-input input" placeholder="5000">
                  </label>
                  <label class="microfinance-calc__main-row">
                    <span  class="microfinance-calc__main-label label"> Предполагаемая дата
                        получения микрозайма </span>
                    <input type="date" name="sum" class="microfinance-calc__main-input input" placeholder="5000">
                  </label>
                  <label class="microfinance-calc__main-row">
                    <span  class="microfinance-calc__main-label label"> Планируемый срок
                        микрозайма, месяцев </span>
                    <input type="number" name="sum" class="microfinance-calc__main-input input" placeholder="5000">
                  </label>
                  <button class="microfinance-calc__main-btn btn btn--bigger">Рассчитать</button>
                </form>
            </li>
            <li class="microfinance-calc__main-item swiper-slide">
                <div class="microfinance-calc__main-rules">
                    <h4 class="microfinance-calc__main-caption">Основный условия</h4>
                    <dl>
                      <dt class="microfinance-calc__main-term">Сумма</dt>
                      <dd class="microfinance-calc__main-def">от 100 000 до 1 000 000 рублей</dd>
                      <dt class="microfinance-calc__main-term">Процентная ставка</dt>
                      <dd class="microfinance-calc__main-def">5,0 % годовых</dd>
                      <dt class="microfinance-calc__main-term">Срок предоставления</dt>
                      <dd class="microfinance-calc__main-def">от 3 до 24 месяцев</dd>
                    </dl>
                </div>
                <form action="" class="microfinance-calc__main-form">
                  
                  <label class="microfinance-calc__main-row">
                    <span  class="microfinance-calc__main-label label"> Сумма микрозайма </span>
                    <input type="number" name="sum" class="microfinance-calc__main-input input" placeholder="5000">
                  </label>
                  <label class="microfinance-calc__main-row">
                    <span  class="microfinance-calc__main-label label"> Предполагаемая дата
                        получения микрозайма </span>
                    <input type="date" name="sum" class="microfinance-calc__main-input input" placeholder="5000">
                  </label>
                  <label class="microfinance-calc__main-row">
                    <span  class="microfinance-calc__main-label label"> Планируемый срок
                        микрозайма, месяцев </span>
                    <input type="number" name="sum" class="microfinance-calc__main-input input" placeholder="5000">
                  </label>
                  <button class="microfinance-calc__main-btn btn btn--bigger">Рассчитать</button>
                </form>
            </li>
            <li class="microfinance-calc__main-item swiper-slide">
                <div class="microfinance-calc__main-rules">
                    <h4 class="microfinance-calc__main-caption">Основный условия</h4>
                    <dl>
                      <dt class="microfinance-calc__main-term">Сумма</dt>
                      <dd class="microfinance-calc__main-def">от 100 000 до 1 000 000 рублей</dd>
                      <dt class="microfinance-calc__main-term">Процентная ставка</dt>
                      <dd class="microfinance-calc__main-def">5,0 % годовых</dd>
                      <dt class="microfinance-calc__main-term">Срок предоставления</dt>
                      <dd class="microfinance-calc__main-def">от 3 до 24 месяцев</dd>
                    </dl>
                </div>
                <form action="" class="microfinance-calc__main-form">
                  
                  <label class="microfinance-calc__main-row">
                    <span  class="microfinance-calc__main-label label"> Сумма микрозайма </span>
                    <input type="number" name="sum" class="microfinance-calc__main-input input" placeholder="5000">
                  </label>
                  <label class="microfinance-calc__main-row">
                    <span  class="microfinance-calc__main-label label"> Предполагаемая дата
                        получения микрозайма </span>
                    <input type="date" name="sum" class="microfinance-calc__main-input input" placeholder="5000">
                  </label>
                  <label class="microfinance-calc__main-row">
                    <span  class="microfinance-calc__main-label label"> Планируемый срок
                        микрозайма, месяцев </span>
                    <input type="number" name="sum" class="microfinance-calc__main-input input" placeholder="5000">
                  </label>
                  <button class="microfinance-calc__main-btn btn btn--bigger">Рассчитать</button>
                </form>
            </li>
            <li class="microfinance-calc__main-item swiper-slide">
                <div class="microfinance-calc__main-rules">
                    <h4 class="microfinance-calc__main-caption">Основный условия</h4>
                    <dl>
                      <dt class="microfinance-calc__main-term">Сумма</dt>
                      <dd class="microfinance-calc__main-def">от 100 000 до 1 000 000 рублей</dd>
                      <dt class="microfinance-calc__main-term">Процентная ставка</dt>
                      <dd class="microfinance-calc__main-def">5,0 % годовых</dd>
                      <dt class="microfinance-calc__main-term">Срок предоставления</dt>
                      <dd class="microfinance-calc__main-def">от 3 до 24 месяцев</dd>
                    </dl>
                </div>
                <form action="" class="microfinance-calc__main-form">
                  
                  <label class="microfinance-calc__main-row">
                    <span  class="microfinance-calc__main-label label"> Сумма микрозайма </span>
                    <input type="number" name="sum" class="microfinance-calc__main-input input" placeholder="5000">
                  </label>
                  <label class="microfinance-calc__main-row">
                    <span  class="microfinance-calc__main-label label"> Предполагаемая дата
                        получения микрозайма </span>
                    <input type="date" name="sum" class="microfinance-calc__main-input input" placeholder="5000">
                  </label>
                  <label class="microfinance-calc__main-row">
                    <span  class="microfinance-calc__main-label label"> Планируемый срок
                        микрозайма, месяцев </span>
                    <input type="number" name="sum" class="microfinance-calc__main-input input" placeholder="5000">
                  </label>
                  <button class="microfinance-calc__main-btn btn btn--bigger">Рассчитать</button>
                </form>
            </li>

          </ul>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>