<section class="microfinance-types">
    <div class="container">
      <h2 class="microfinance-types__title section__title-2">Виды микрозаймов</h2>
      <div class="microfinance-types__row row">
        <div class="microfinance-types__col-l">
      <dl class="microfinance-types__definitions">
        <dt>Старт</dt>
        <dd>
          <p>
              Сумма от 100 000 до 1 000 000 рублей
          </p>
          <p>
              Срок от 3 до 24 мес.
          </p>
          <p>
              Залог и поручитель (физ. и юр. лицо)
          </p>
        </dd>
        <dt>Старт</dt>
        <dd>
            <p>
                Сумма от 100 000 до 1 000 000 рублей
            </p>
            <p>
                Срок от 3 до 24 мес.
            </p>
            <p>
                Залог и поручитель (физ. и юр. лицо)
            </p>
        </dd>
        <dt>Старт</dt>
        <dd>
            <p>
                Сумма от 100 000 до 1 000 000 рублей
            </p>
            <p>
                Срок от 3 до 24 мес.
            </p>
            <p>
                Залог и поручитель (физ. и юр. лицо)
            </p>
        </dd>
      </dl>
  
  
  
      <include src="src/html/includes/components/look-more.html"></include>
    </div>
    <div class="microfinance-types__col-r d-none-sm">
      <img src="assets/images/static/coin.svg" alt="монета">
    </div>
  </div>
    </div>
  </section>