<section id="navblock" class="navblock slide queue">
  <div class="container navblock-wrap">
    <div class="navblock-col-l">
      <div class="navblock__thumbs">
        <div class="navblock__thumbs-frommain">
        </div>
        <div class="navblock__thumbs-container swiper-container swiper-container-vertical">
          <div class="navblock__thumbs-wrapper swiper-wrapper">
            <a href="#navblock__main" class="navblock__thumbs-item swiper-slide">
              <span class="navblock__thumbs-item-num">01</span> Деньги
            </a>
            <a href="#navblock__main" class="navblock__thumbs-item swiper-slide">
              <span class="navblock__thumbs-item-num">02</span> Поддержка
            </a>
            <a href="#navblock__main" class="navblock__thumbs-item swiper-slide">
              <span class="navblock__thumbs-item-num">03</span> Начало бизнеса
            </a>
            <a href="#navblock__main" class="navblock__thumbs-item swiper-slide">
              <span class="navblock__thumbs-item-num">04</span> Прочее
            </a>
            <a href="#navblock__main" class="navblock__thumbs-item swiper-slide">
              <span class="navblock__thumbs-item-num">05</span> Новости и мероприятия
            </a>
            <a href="#navblock__main" class="navblock__thumbs-item swiper-slide">
              <span class="navblock__thumbs-item-num">06</span> Инфраструктура поддержки МСП в НАО
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="navblock-col-r">
      <div class="navblock__main" id="navblock__main">
        <div class="navblock__main-container swiper-container swiper-container-vertical">
          <ul class="navblock__main-wrapper swiper-wrapper">
            <li class="navblock__main-item swiper-slide">
              <h2 class="navblock__main-title section__title-3 d-none d-block-xs">Деньги</h2>
              <div class="navblock__main-img d-none d-block-lg">
                <div class="navblock__main-img-figure">
                  <object type="image/svg+xml" data="assets/images/static/money.svg">
                    <img src="assets/images/static/money.svg">
                  </object>
                </div>               
              </div>
              <div class="navblock__main-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip
             
                  fugiat nulla pariatur.</p>
              </div>
              <ul class="navblock__main-list">
                <li>
                    <include src="src/html/includes/components/link-with-squarebtn.html"></include>
                </li>
                <li>
                    <a href="#" class="link-with-squarebtn">
                        <span class="link-with-squarebtn__text"><strong>Центр компетенций в сфере сельскохозяйственной кооперации и&nbsp;поддержки&nbsp;фермеров</strong></span>
                        <span class="link-with-squarebtn__btn btn">
                          <svg>
                            <use xlink:href="assets/sprites/sprite.svg#arrow"></use>
                          </svg>
                        </span>
                      </a>
                </li>
                <li>
                  <include src="src/html/includes/components/link-with-squarebtn.html"></include>
                </li>
                <li>
                    <a href="#" class="link-with-squarebtn">
                        <span class="link-with-squarebtn__text"><strong>Микрофинансирование</strong></span>
                        <span class="link-with-squarebtn__btn btn">
                          <svg>
                            <use xlink:href="assets/sprites/sprite.svg#arrow"></use>
                          </svg>
                        </span>
                      </a>
                </li>
                <li>
                  <include src="src/html/includes/components/link-with-squarebtn.html"></include>
                </li>
                <li>
                  <include src="src/html/includes/components/link-with-squarebtn.html"></include>
                </li>
                <li>
                  <include src="src/html/includes/components/link-with-squarebtn.html"></include>
                </li>
              </ul>
            </li>
            <li class="navblock__main-item swiper-slide">
              <h2 class="navblock__main-title section__title-3 d-none d-block-xs">Поддержка</h2>
              <div class="navblock__main-img d-none d-block-lg">
                  <div class="navblock__main-img-figure">
                    <object type="image/svg+xml" data="assets/images/static/support.svg">
                      <img src="assets/images/static/support.svg">
                    </object>
                </div>
              </div>
              <div class="navblock__main-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip
                  ex
                  ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                  fugiat nulla pariatur.</p>
              </div>
              <ul class="navblock__main-list">
                <li>
<include src="src/html/includes/components/link-with-squarebtn.html"></include>
                </li>
                <li>
                  <include src="src/html/includes/components/link-with-squarebtn.html"></include>
                </li>
                <li>
                  <include src="src/html/includes/components/link-with-squarebtn.html"></include>
                </li>
              </ul>
            </li>
            <li class="navblock__main-item swiper-slide">
              <h2 class="navblock__main-title section__title-3 d-none d-block-xs">Начало бизнеса</h2>
              <div class="navblock__main-img d-none d-block-lg">
                <div class="navblock__main-img-figure">
                  <object type="image/svg+xml" data="assets/images/static/business.svg">
                    <img src="assets/images/static/business.svg">
                  </object>
                  <!-- <img src="assets/images/static/business.svg" alt=""> -->
                </div>
              </div>
              <div class="navblock__main-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip
                  ex
                  ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                  fugiat nulla pariatur.</p>
              </div>
              <ul class="navblock__main-list">
                <li>
                    <include src="src/html/includes/components/link-with-squarebtn.html"></include>
                </li>
                <li>
                    <include src="src/html/includes/components/link-with-squarebtn.html"></include>
                </li>
                <li>
                    <include src="src/html/includes/components/link-with-squarebtn.html"></include>
                </li>
              </ul>
            </li>
            <li class="navblock__main-item swiper-slide">
              <h2 class="navblock__main-title section__title-3 d-none d-block-xs">Прочее</h2>
              <div class="navblock__main-img d-none d-block-lg">
                <div class="navblock__main-img-figure">
                  <object type="image/svg+xml" data="assets/images/static/others.svg">
                    <img src="assets/images/static/others.svg">
                  </object>
                  <!-- <img src="assets/images/static/others.svg" alt=""> -->
                </div>
              </div>
              <div class="navblock__main-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip
                  ex
                  ex
                  ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                  fugiat nulla pariatur.</p>
              </div>
              <ul class="navblock__main-list">
                <li>
                    <include src="src/html/includes/components/link-with-squarebtn.html"></include>
                </li>
                <li>
                    <include src="src/html/includes/components/link-with-squarebtn.html"></include>
                </li>
                <li>
                    <include src="src/html/includes/components/link-with-squarebtn.html"></include>
                </li>
              </ul>
            </li>

            <li class="navblock__main-item swiper-slide">
              <h2 class="navblock__main-title section__title-3 d-none d-block-xs">Новости</h2>
              <div class="navblock__main-img d-none d-block-lg">
                  <div class="navblock__main-img-figure">
                    <object type="image/svg+xml" data="assets/images/static/news.svg">
                      <img src="assets/images/static/news.svg">
                    </object>
                    <!-- <img src="assets/images/static/news.svg" alt=""> -->
                  </div>
              </div>
              <div class="navblock__main-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et

                  ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                  fugiat nulla pariatur.</p>
              </div>
              <ul class="navblock__main-list">
                <li>
<include src="src/html/includes/components/link-with-squarebtn.html"></include>
                </li>
                <li>
<include src="src/html/includes/components/link-with-squarebtn.html"></include>
                </li>
                <li>
<include src="src/html/includes/components/link-with-squarebtn.html"></include>
                </li>
              </ul>
            </li>
            <li class="navblock__main-item swiper-slide">
              <h2 class="navblock__main-title section__title-3 d-none d-block-xs">Инфраструктура поддержки МСП в НАО</h2>
              <div class="navblock__main-img d-none d-block-lg">
                  <div class="navblock__main-img-figure">
                    <object type="image/svg+xml" data="assets/images/static/msp.svg">
                      <img src="assets/images/static/msp.svg">
                    </object>
                  <!-- <img src="assets/images/static/msp.svg" alt=""> -->
                </div>
              </div>
              <div class="navblock__main-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et
                  ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                  fugiat nulla pariatur.</p>
              </div>
              <ul class="navblock__main-list">
                <li>
<include src="src/html/includes/components/link-with-squarebtn.html"></include>
                </li>
                <li>
<include src="src/html/includes/components/link-with-squarebtn.html"></include>
                </li>
                <li>
<include src="src/html/includes/components/link-with-squarebtn.html"></include>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>