<section class="persons-department">
  <div class="container">
    <h2 class="persons-department__title section__title-2">
      Центр Поддержки Предпринимательства
    </h2>
    <div class="persons-department-slider">
      <div id="persons-department-slider-1" class="persons-department-container swiper-container">
        <div class="persons-department-wrapper swiper-wrapper">
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-1.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Павлов Павел Павлович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-1.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Павлов Павел Павлович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-1.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Павлов Павел Павлович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-1.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Павлов Павел Павлович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>

          <include src="src/html/includes/components/look-more.html"></include>
        </div>
      </div>
      <div class="persons-department-prev swiper-button-prev"><svg>
          <use xlink:href="assets/sprites/sprite.svg#arrow"></use>
        </svg></div>
      <div class="persons-department-next swiper-button-next"><svg>
          <use xlink:href="assets/sprites/sprite.svg#arrow"></use>
        </svg></div>
    </div>
</section>
<section class="persons-department">
  <div class="container">
    <h2 class="persons-department__title section__title-2">
      Центр Поддержки Предпринимательства
    </h2>
    <div class="persons-department-slider">

      <div id="persons-department-slider-2" class="persons-department-container swiper-container">
        <div class="persons-department-wrapper swiper-wrapper">
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-1.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Павлов Павел Павлович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-1.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Павлов Павел Павлович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-1.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Павлов Павел Павлович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-1.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Павлов Павел Павлович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>

          <include src="src/html/includes/components/look-more.html"></include>
        </div>
      </div>
      <div class="persons-department-prev swiper-button-prev"><svg>
          <use xlink:href="assets/sprites/sprite.svg#arrow"></use>
        </svg></div>
      <div class="persons-department-next swiper-button-next"><svg>
          <use xlink:href="assets/sprites/sprite.svg#arrow"></use>
        </svg></div>
    </div>
</section>
<section class="persons-department">
  <div class="container">
    <h2 class="persons-department__title section__title-2">
      Центр Поддержки Предпринимательства
    </h2>
    <div class="persons-department-slider">

      <div id="persons-department-slider-3" class="persons-department-container swiper-container">
        <div class="persons-department-wrapper swiper-wrapper">
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-1.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Павлов Павел Павлович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-1.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Павлов Павел Павлович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-1.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Павлов Павел Павлович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-1.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Павлов Павел Павлович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>

          <include src="src/html/includes/components/look-more.html"></include>
        </div>
      </div>
      <div class="persons-department-prev swiper-button-prev"><svg>
          <use xlink:href="assets/sprites/sprite.svg#arrow"></use>
        </svg></div>
      <div class="persons-department-next swiper-button-next"><svg>
          <use xlink:href="assets/sprites/sprite.svg#arrow"></use>
        </svg></div>
    </div>
</section>
<section class="persons-department">
  <div class="container">
    <h2 class="persons-department__title section__title-2">
      Центр Поддержки Предпринимательства
    </h2>
    <div class="persons-department-slider">

      <div id="persons-department-slider-4" class="persons-department-container swiper-container">
        <div class="persons-department-wrapper swiper-wrapper">
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-1.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Павлов Павел Павлович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-1.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Павлов Павел Павлович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-1.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Павлов Павел Павлович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-1.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Павлов Павел Павлович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>

          <include src="src/html/includes/components/look-more.html"></include>
        </div>
      </div>
      <div class="persons-department-prev swiper-button-prev"><svg>
          <use xlink:href="assets/sprites/sprite.svg#arrow"></use>
        </svg></div>
      <div class="persons-department-next swiper-button-next"><svg>
          <use xlink:href="assets/sprites/sprite.svg#arrow"></use>
        </svg></div>
    </div>
</section>
<section class="persons-department">
  <div class="container">
    <h2 class="persons-department__title section__title-2">
      Центр Поддержки Предпринимательства
    </h2>
    <div class="persons-department-slider">

      <div id="persons-department-slider-5" class="persons-department-container swiper-container">
        <div class="persons-department-wrapper swiper-wrapper">
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-1.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Павлов Павел Павлович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-1.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Павлов Павел Павлович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-1.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Павлов Павел Павлович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-1.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Павлов Павел Павлович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>

          <include src="src/html/includes/components/look-more.html"></include>
        </div>
      </div>
      <div class="persons-department-prev swiper-button-prev"><svg>
          <use xlink:href="assets/sprites/sprite.svg#arrow"></use>
        </svg></div>
      <div class="persons-department-next swiper-button-next"><svg>
          <use xlink:href="assets/sprites/sprite.svg#arrow"></use>
        </svg></div>
    </div>
</section>
<section class="persons-department">
  <div class="container">
    <h2 class="persons-department__title section__title-2">
      Центр Поддержки Предпринимательства
    </h2>
    <div class="persons-department-slider">

      <div id="persons-department-slider-6" class="persons-department-container swiper-container">
        <div class="persons-department-wrapper swiper-wrapper">
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-1.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Павлов Павел Павлович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-1.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Павлов Павел Павлович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-1.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Павлов Павел Павлович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-1.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Павлов Павел Павлович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="persons-department-slide swiper-slide">
            <div class="persons-department-slide-wrap">
              <div class="persons-department-slide-img">
                <div class="persons-department-slide-img-wrap-1">
                  <img class="persons-department-slide__img" src="assets/images/static/person-2.jpg" alt="">
                </div>
              </div>
              <div class="persons-department-slide-info">
                <strong class="persons-department-slide__name">Константинов Константин Константинович</strong>
                <ul>
                  <li>Должность</li>
                  <li><a href="mailto:">Email</a></li>
                  <li><a href="tel:+">0 000 000 0000</a></li>
                </ul>
              </div>
            </div>
          </div>

          <include src="src/html/includes/components/look-more.html"></include>
        </div>
      </div>
      <div class="persons-department-prev swiper-button-prev"><svg>
          <use xlink:href="assets/sprites/sprite.svg#arrow"></use>
        </svg></div>
      <div class="persons-department-next swiper-button-next"><svg>
          <use xlink:href="assets/sprites/sprite.svg#arrow"></use>
        </svg></div>
    </div>
</section>