<section class="services" id="services">
  <div class="services-wrap section-title section-title--dark container">
    <div class="section-title__decore section-title__decore--left"></div>
    <h2 class="section-title__text">
      OUR SERVICES
    </h2>
    <div class="section-title__decore section-title__decore--rigth"></div>
  </div>
  <div class="services-wrap container">
      <div class="services-swiper-container swiper-container">
          <div class="services-swiper-wrapper swiper-wrapper">
              <div class="services-swiper-slide swiper-slide">
                  <h3 class="services-swiper-slide__title">Web development</h3>
                  <p class="services-swiper-slide__text">We provide the best services in the world We provide the best services in the world We provide the best services in the world</p>
                  <a href="#" class="services-swiper-slide__btn">More Details</a>
              </div>
              <div class="services-swiper-slide swiper-slide">
                  <h3 class="services-swiper-slide__title">Web development</h3>
                  <p class="services-swiper-slide__text">We provide the best services in the world We provide the best services in the world We provide the best services in the world</p>
                  <a href="#" class="services-swiper-slide__btn">More Details</a>
              </div>
              <div class="services-swiper-slide swiper-slide">
                  <h3 class="services-swiper-slide__title">Web development</h3>
                  <p class="services-swiper-slide__text">We provide the best services in the world We provide the best services in the world We provide the best services in the world</p>
                  <a href="#" class="services-swiper-slide__btn">More Details</a>
              </div>
          </div>
          <div class="services-swiper-arrow services-swiper-arrow--prev swiper-button-prev"></div>
          <div class="services-swiper-arrow services-swiper-arrow--next swiper-button-next"></div>
      </div>
  </div>
</section>