<!-- start-reg . Регистрация предпринимателей -->
<section class="steps">
  <div class="container">
    <ul class="steps__list havetitle">
      <li class="steps__item">
        <div class="steps__item-row row steps__item-subtitle section__title-2">
        <div class="steps__item-num">01</div>
       
          <h2> Формируем пакет документов</h2>
        </div>
          <ul class="steps__item-list">
            <li>заявление о государственной регистрации физического лица в качестве индивидуального предпринимателя
              (форма № Р21001);
            </li>
            <li>копия российского паспорта;
            </li>
            <li>квитанция об уплате госпошлины в размере 800 руб. Сформировать квитанцию на уплату госпошлины можно с
              помощью сервиса «Уплата госпошлины».
            </li>
          </ul>
      </li>
      <li class="steps__item">
        <div class="steps__item-row row steps__item-subtitle section__title-2">
        <div class="steps__item-num">02</div>
       
          <h2> Формируем пакет документов</h2>
        </div>
          <ul class="steps__item-list">
            <li>заявление о государственной регистрации физического лица в качестве индивидуального предпринимателя
              (форма № Р21001);
            </li>
            <li>копия российского паспорта;
            </li>
            <li>квитанция об уплате госпошлины в размере 800 руб. Сформировать квитанцию на уплату госпошлины можно с
              помощью сервиса «Уплата госпошлины».
            </li>
          </ul>
      </li>
      <li class="steps__item">
        <div class="steps__item-row row steps__item-subtitle section__title-2">
        <div class="steps__item-num">03</div>
       
          <h2> Формируем пакет документов</h2>
        </div>
          <ul class="steps__item-list">
            <li>заявление о государственной регистрации физического лица в качестве индивидуального предпринимателя
              (форма № Р21001);
            </li>
            <li>копия российского паспорта;
            </li>
            <li>квитанция об уплате госпошлины в размере 800 руб. Сформировать квитанцию на уплату госпошлины можно с
              помощью сервиса «Уплата госпошлины».
            </li>
          </ul>
      </li>
      <li class="steps__item">
        <div class="steps__item-row row steps__item-subtitle section__title-2">
        <div class="steps__item-num">04</div>
       
          <h2> Формируем пакет документов</h2>
        </div>
          <ul class="steps__item-list">
            <li>заявление о государственной регистрации физического лица в качестве индивидуального предпринимателя
              (форма № Р21001);
            </li>
            <li>копия российского паспорта;
            </li>
            <li>квитанция об уплате госпошлины в размере 800 руб. Сформировать квитанцию на уплату госпошлины можно с
              помощью сервиса «Уплата госпошлины».
            </li>
          </ul>
      </li>
      <li class="steps__item">
        <div class="steps__item-row row steps__item-subtitle section__title-2">
        <div class="steps__item-num">05</div>
       
          <h2> Формируем пакет документов</h2>
        </div>
          <ul class="steps__item-list">
            <li>заявление о государственной регистрации физического лица в качестве индивидуального предпринимателя
              (форма № Р21001);
            </li>
            <li>копия российского паспорта;
            </li>
            <li>квитанция об уплате госпошлины в размере 800 руб. Сформировать квитанцию на уплату госпошлины можно с
              помощью сервиса «Уплата госпошлины».
            </li>
          </ul>
      </li>


    </ul>
  </div>
</section>