<section class="steps">
    <div class="container">
      <ul class="steps__list">
          <li class="steps__item">
            <div class="steps__item-num">01</div>
            <div class="steps__item-text fsz-18">
                <p> Совместно с Минэкономразвития России и Банком России Федеральная  Корпорация по развитию малого и среднего бизнеса разработала Программу стимулирования кредитования субъектов МСП, реализующих проекты в приоритетных отраслях, которая фиксирует процентную ставку по кредитам в сумме не менее 50 млн. руб. для субъектов малого бизнеса на уровне 11% годовых, для среднего - 10% годовых.</p>
                <a href="#" class="steps__item-link">
                    <span class="text">Подробнее об условиях Программы</span>
                    <span class="btn">
                      <svg>
                        <use xlink:href="assets/sprites/sprite.svg#arrow"></use>
                      </svg>
                    </span>
                  </a>
                </div>
          </li>
          <li class="steps__item">
            <div class="steps__item-num">02</div>
            <div class="steps__item-text fsz-18">
                <p>Министерством экономического развития РФ реализуется новая программа льготного кредитования субъектов малого и среднего предпринимательства – «Программа 674».</p>
                <p>Программа 674 предусматривает следующие условия: льготная ставка устанавливается на уровне не выше 9,6 % – для субъектов среднего предпринимательства и 10,6 % – для субъектов малого предпринимательства, срок предоставления кредита до 5 лет, размер кредита от 5 млн до 1 млрд рублей.</p>
                <a href="#" class="steps__item-link">
                    <span class="text">Подробнее об условиях Программы</span>
                    <span class="btn">
                      <svg>
                        <use xlink:href="assets/sprites/sprite.svg#arrow"></use>
                      </svg>
                    </span>
                  </a>
                </div>
          </li>
          <li class="steps__item">
            <div class="steps__item-num">03</div>
            <div class="steps__item-text fsz-18">
                <p> Совместно с Минэкономразвития России и Банком России Федеральная  Корпорация по развитию малого и среднего бизнеса разработала Программу стимулирования кредитования субъектов МСП, реализующих проекты в приоритетных отраслях, которая фиксирует процентную ставку по кредитам в сумме не менее 50 млн. руб. для субъектов малого бизнеса на уровне 11% годовых, для среднего - 10% годовых.</p>
                <a href="#" class="steps__item-link">
                    <span class="text">Подробнее об условиях Программы</span>
                    <span class="btn">
                      <svg>
                        <use xlink:href="assets/sprites/sprite.svg#arrow"></use>
                      </svg>
                    </span>
                  </a>
                </div>
          </li>

        </ul>
    </div>
  </section>