<section class="steps">
    <div class="container">
      <h2 class="steps__title section__title-2">Почему стоит обратиться в фонд?</h2>
      <ul class="steps__list">
          <li class="steps__item">
            <div class="steps__item-num">01</div>
            <div class="steps__item-text">Фонд предоставляет или высылыет перечень документов по
                электронной почте</div>
          </li>
        
          <li class="steps__item">
            <div class="steps__item-num">02</div>
            <div class="steps__item-text">Фонд предоставляет или высылыет перечень документов по
                электронной почте</div>
          </li>
        
          <li class="steps__item">
            <div class="steps__item-num">03</div>
            <div class="steps__item-text">Фонд предоставляет или высылыет перечень документов по
                электронной почте</div>
          </li>
        
          <li class="steps__item">
            <div class="steps__item-num">04</div>
            <div class="steps__item-text">Фонд предоставляет или высылыет перечень документов по
                электронной почте</div>
          </li>
        
          <li class="steps__item">
            <div class="steps__item-num">05</div>
            <div class="steps__item-text">Фонд предоставляет или высылыет перечень документов по
                электронной почте</div>
          </li>
        </ul>
    </div>
  </section>