<section class="support">
  <div class="container">
    <h2 class="support__title section__title-2 mb-20">Куда обращаться</h2>
  </div>
  <div class="support-wrap">
  <div class="container">
    <ul class="support__list">
        <li class="support__item">
            <p  class="support__item-text"> По вопросам получения государственной поддержки (гранты и субсидии) можно обращаться в Департамент финансов и экономики НАО:</p>

            <div class="support__item-contact">
              <span class="support__item-face">
                  Гусева Наталья Борисовна 
                </span>
              <a class="support__item-phone" href="tel:+78185321356">+7(81853) 2-13-56</a>
              <a class="support__item-email" href="mailto:nguseva@adm-nao.ru">nguseva@adm-nao.ru</a>
            </div>  
            <p class="support__item-text">На территории НАО сформированы реестры государственного и муниципального имущества, для предоставления <strong>предпринимателям.</strong></p>
        </li>
        <li class="support__item">
            <p  class="support__item-text"> По вопросам получения государственной поддержки (гранты и субсидии) можно обращаться в Департамент финансов и экономики НАО:</p>

            <div class="support__item-contact">
              <span class="support__item-face">
                Матвеева Ирина Викторовна 
                </span>
              <a class="support__item-phone" href="tel:+78185321356">+7(81853) 2-13-56</a>
            </div>  
        </li>
        <li class="support__item">
            <p  class="support__item-text"> По вопросам получения государственной поддержки (гранты и субсидии) можно обращаться в Департамент финансов и экономики НАО:</p>

            <div class="support__item-contact">
              <span class="support__item-face">
                Матвеева Ирина Викторовна 
                </span>
              <a class="support__item-phone" href="tel:+78185321356">+7(81853) 2-13-56</a>
            </div>  
        </li>
      </ul>
  </div>
  </div>
</section>