// /assets/fonts/GothamPro/GothamPro-Black.ttf


@font-face {
	font-family: 'Sansation';
	src: url('/assets/fonts/Sansation/SansationRegular.eot');
	src: local('Sansation Regular'), local('SansationRegular'),
		url('/assets/fonts/Sansation/SansationRegular.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Sansation/SansationRegular.woff') format('woff'),
		url('/assets/fonts/Sansation/SansationRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Sansation';
	src: url('/assets/fonts/Sansation/SansationBold.eot');
	src: local('Sansation Bold'), local('SansationBold'),
		url('/assets/fonts/Sansation/SansationBold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Sansation/SansationBold.woff') format('woff'),
		url('/assets/fonts/Sansation/SansationBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Sansation';
	src: url('/assets/fonts/Sansation/SansationLight.eot');
	src: local('Sansation Light'), local('SansationLight'),
		url('/assets/fonts/Sansation/SansationLight.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Sansation/SansationLight.woff') format('woff'),
		url('/assets/fonts/Sansation/SansationLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family: 'Helvetica';
	src: url('/assets/fonts/HelveticaLT/HelveticaLTStd-Bold.eot');
	src: local('Helvetica LT Std Bold'), local('HelveticaLTStd-Bold'),
		url('/assets/fonts/HelveticaLT/HelveticaLTStd-Bold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/HelveticaLT/HelveticaLTStd-Bold.woff') format('woff'),
		url('/assets/fonts/HelveticaLT/HelveticaLTStd-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
	src: url('/assets/fonts/HelveticaLT/HelveticaLTStd-LightCond.eot');
	src: local('Helvetica LT Std Light Condensed'), local('HelveticaLTStd-LightCond'),
		url('/assets/fonts/HelveticaLT/HelveticaLTStd-LightCond.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/HelveticaLT/HelveticaLTStd-LightCond.woff') format('woff'),
		url('/assets/fonts/HelveticaLT/HelveticaLTStd-LightCond.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad';
	src: url('/assets/fonts/MyriadPro/MyriadPro-Regular.eot');
	src: local('Myriad Pro Regular'), local('MyriadPro-Regular'),
		url('/assets/fonts/MyriadPro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/MyriadPro/MyriadPro-Regular.woff') format('woff'),
		url('/assets/fonts/MyriadPro/MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}