.breadcrumbs{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  &-item{
    font-size: 14px;
    font-weight: 500;
    &__sep{
      display: inline-block;
      width: 44px;
      height: 2px;
      margin: 0 6px;
      background-color: $text-color;
    }
  }
}