.link-with-squarebtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &:hover {
    filter: none;
  }

  &:hover &__text {
    text-decoration: underline;
  }

  &:hover &__btn {
    text-decoration: none;
    background-color: $btn-hover-color;
    border: 0;

    svg {
      stroke: #fff;
      fill: #fff;
    }
  }

  &__btn {
    flex-shrink: 0;
    display: inline-block;
    width: 44px;
    height: 44px;
    padding: 0;
    margin-left: 20px;
    margin-right: 4px;

    svg {
      width: 20px;
      max-height: 100%;
    }
  }
}

@media (max-width: $xs) {
  .link-with-squarebtn {
    &__btn {
      margin-left: 10px;
    }

  }
}