.footer {
  .nav {
    padding: 50px 0 0;
    margin-bottom: 40px;
    background-color: $footer-color;
    color: $text-light-color;

    &__list {
      flex: 1 1 30%;
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      flex: 0 0 20%;
      padding-right: 10px;
      margin-bottom: 60px;

      &-main {
        display: block;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
      }

      &-sub {
        font-size: 12px;
        text-decoration: underline;
        margin-bottom: 8px;
      }
    }
  }
}

@media only screen and (max-width: $lg){
  .footer{
    .nav{
      &__item {
        flex: 0 0 25%;
      }
    }
  }
}
@media only screen and (max-width: $sm){
  .footer{
    .nav{
      &__item {
        flex: 0 0 33%;
      }
    }
  }
}
@media only screen and (max-width: $xs){
  .footer{
    .nav{
      display: none;
    }
  }
}