.header {

  .nav {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    z-index: 100;
    width: 100%;
    height: 90vh;
    overflow: auto;
    transition-duration: 1s;
    background-color: #fff;
    border-top: 1px solid #000;
    
    &-wrap {
      padding: 60px 100px;
      display: flex;
      justify-content: space-between;
    }

    &__list {
      flex: 0 1 30%;
      display: flex;
      flex-direction: column;
    }

    &__item {
      flex: 0 0 auto;
      margin-bottom: 60px;

      &-main {
        display: block;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 30px;
      }

      &-sub {
        font-size: 20px;
        margin-bottom: 20px;
      }

      input[type="checkbox"] {
        position: absolute;
        height: 0;
        width: 0;
        left: -9999rem;
      }
    }
  }
}

@media only screen and (max-width: $md) {
  .header {
    .nav {
      &-wrap{
        display: block;
      }
      &__item {
        margin-bottom: 10px;
        ul {
          height: 0;
          opacity: 0;
          overflow: hidden;
          transition-duration: 1s;
        }
        input[type="checkbox"]:checked~ul {
          // display: block;
          height: auto;
          opacity: 1;
        }
        &-main {
          font-size: 22px;
          margin-bottom: 10px;
          cursor: pointer;
        }
  
        &-sub {
          font-size: 18px;
          margin-bottom: 10px;
        }
      }
    }
    .header-comein__reg{
      margin-left: 10px;
    }
  }
}
@media only screen and (max-width: $sm) {
  .header {
    .nav {
      &-wrap{
        padding: 40px 50px;
      }
    }
  }
}
@media only screen and (max-width: $xs) {
  .header {
    .nav {
      &-wrap{
        padding: 30px 20px;
      }
    }
  }
}