<div class="popup popup-auth">
  <div class="popup-wrap">
    <div class="popup__close close__btn">
        <svg>
            <use xlink:href="assets/sprites/sprite.svg#close"></use>
          </svg>
    </div>
    <h2 class="popup__title">Авторизоваться</h2>
    <form class="popup-form form">
      <input type="text" class="popup-form__input input"id="popup-form__name" name="name" placeholder="Имя" required>
      <input type="password" class="popup-form__input input"id="popup-form__password" name="password" placeholder="Пароль" required>
      <button class="popup-form__btn link-with-squarebtn" type="submit">Войти                    <span class="link-with-squarebtn__btn btn">
          <svg>
            <use xlink:href="assets/sprites/sprite.svg#arrow"></use>
          </svg>
        </span></button>
    </form>
    <div class="popup__footer">
      <a href="#">Забыли пароль?</a>
      <a href="#">Регистрация</a>
    </div>
  </div>
</div>