<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 240.64 214.07" preserveAspectRatio="none">
  <defs>
  <style>
  .cls-1{
    fill:none;
    stroke:#fdc9ca;
    stroke-linecap:round;
    stroke-miterlimit:10;
    stroke-width:7px;
    stroke-dasharray: 1000;
    animation: dash 1s cubic-bezier(.99,.07,.88,.57) normal forwards;
    opacity: 0.5;
    animation-play-state: paused;
  }
  
  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    99.999999% {
      stroke-dashoffset: 500;
    }
  }
  </style></defs>
  <title>Ресурс 4</title><g  ><g ><path class="cls-1" d="M99,45.39s-79.82-15.52-94,69c-23.49,140,327.12,128.41,207-43C116.94-64.27,3,45.39,3.5,44.89"/></g></g>
  </svg>