<div class="calendar__day" >
  <div class="calendar__day-header">
    <div class="calendar__day-num">01</div>
    <div class="calendar__day-tegs">
      <span class="calendar__mark calendar__mark--trening"></span>
      <span class="calendar__mark calendar__mark--events"></span>
      <span class="calendar__mark calendar__mark--news"></span>
    </div>
  </div>
  <div class="calendar__day-text">
    <p>21 и 22 июня пройдут тренинги от Русской Школы Управления «Закупки. Участие в торгах».</p>
  </div>
  <span class="calendar__day-more">
    Еще 100
  </span>
  <a href="#allevents-day" class="calendar__day-link"> 
      <include src="src/html/includes/components/calendar-circle-svg.html">
    <time datetime="01-10-2019"></time>  
  </a>
</div>
<div class="calendar__day">
  <div class="calendar__day-header">
    <div class="calendar__day-num">02</div>
    <div class="calendar__day-tegs">
      <span class="calendar__mark calendar__mark--trening"></span>
      <span class="calendar__mark calendar__mark--events"></span>
      <span class="calendar__mark calendar__mark--news"></span>
    </div>
  </div>
  <div class="calendar__day-text">
    <p>21 и 22 июня пройдут тренинги от Русской Школы Управления «Закупки. Участие в торгах».</p>
  </div>
  <span class="calendar__day-more">
    Еще 100
  </span>
  <a href="#allevents-day" class="calendar__day-link">
      <include src="src/html/includes/components/calendar-circle-svg.html">
      <time datetime="02-10-2019"></time> 
  </a>

</div>
<div class="calendar__day">
  <div class="calendar__day-header">
    <div class="calendar__day-num">03</div>
    <div class="calendar__day-tegs">
      <span class="calendar__mark calendar__mark--trening"></span>
      <span class="calendar__mark calendar__mark--events"></span>
      <span class="calendar__mark calendar__mark--news"></span>
    </div>
  </div>
  <div class="calendar__day-text">
    <p>21 и 22 июня пройдут тренинги от Русской Школы Управления «Закупки. Участие в торгах».</p>
  </div>
  <span class="calendar__day-more">
    Еще 100
  </span>
  <a href="#allevents-day" class="calendar__day-link">
      <include src="src/html/includes/components/calendar-circle-svg.html">
      <time datetime="03-10-2019"></time>  
  </a>
</div>
<div class="calendar__day">
  <div class="calendar__day-header">
    <div class="calendar__day-num">04</div>
    <div class="calendar__day-tegs">
      <span class="calendar__mark calendar__mark--trening"></span>
      <span class="calendar__mark calendar__mark--events"></span>
      <span class="calendar__mark calendar__mark--news"></span>
    </div>
  </div>
  <div class="calendar__day-text">
    <p>21 и 22 июня пройдут тренинги от Русской Школы Управления «Закупки. Участие в торгах».</p>
  </div>
  <span class="calendar__day-more">
    Еще 100
  </span>
  <a href="#allevents-day" class="calendar__day-link">
      <include src="src/html/includes/components/calendar-circle-svg.html">
    <time datetime="04-10-2019"></time>  </a>
</div>
<div class="calendar__day">
  <div class="calendar__day-header">
    <div class="calendar__day-num">05</div>
    <div class="calendar__day-tegs">
      <span class="calendar__mark calendar__mark--trening"></span>
      <span class="calendar__mark calendar__mark--events"></span>
      <span class="calendar__mark calendar__mark--news"></span>
    </div>
  </div>
  <div class="calendar__day-text">
    <p>21 и 22 июня пройдут тренинги от Русской Школы Управления «Закупки. Участие в торгах».</p>
  </div>
  <span class="calendar__day-more">
    Еще 100
  </span>
  <a href="#allevents-day" class="calendar__day-link">
      <include src="src/html/includes/components/calendar-circle-svg.html">
    <time datetime="05-10-2019"></time>  </a>
</div>
<div class="calendar__day">
  <div class="calendar__day-header">
    <div class="calendar__day-num">06</div>
    <div class="calendar__day-tegs">
      <span class="calendar__mark calendar__mark--trening"></span>
      <span class="calendar__mark calendar__mark--events"></span>
      <span class="calendar__mark calendar__mark--news"></span>
    </div>
  </div>
  <div class="calendar__day-text">
    <p>21 и 22 июня пройдут тренинги от Русской Школы Управления «Закупки. Участие в торгах».</p>
  </div>
  <span class="calendar__day-more">
    Еще 100
  </span>
  <a href="#allevents-day" class="calendar__day-link">
      <include src="src/html/includes/components/calendar-circle-svg.html">
    <time datetime="06-10-2019"></time>  </a>
</div>
<div class="calendar__day">
  <div class="calendar__day-header">
    <div class="calendar__day-num">07</div>
    <div class="calendar__day-tegs">
      <span class="calendar__mark calendar__mark--trening"></span>
      <span class="calendar__mark calendar__mark--events"></span>
      <span class="calendar__mark calendar__mark--news"></span>
    </div>
  </div>
  <div class="calendar__day-text">
    <p>21 и 22 июня пройдут тренинги от Русской Школы Управления «Закупки. Участие в торгах».</p>
  </div>
  <span class="calendar__day-more">
    Еще 100
  </span>
  <a href="#allevents-day" class="calendar__day-link">
      <include src="src/html/includes/components/calendar-circle-svg.html">
  </a>
</div>
<div class="calendar__day">
  <div class="calendar__day-header">
    <div class="calendar__day-num">08</div>
    <div class="calendar__day-tegs">
      <span class="calendar__mark calendar__mark--trening"></span>
      <span class="calendar__mark calendar__mark--events"></span>
      <span class="calendar__mark calendar__mark--news"></span>
    </div>
  </div>
  <div class="calendar__day-text">
    <p>21 и 22 июня пройдут тренинги от Русской Школы Управления «Закупки. Участие в торгах».</p>
  </div>
  <span class="calendar__day-more">
    Еще 100
  </span>
  <a href="#allevents-day" class="calendar__day-link">
      <include src="src/html/includes/components/calendar-circle-svg.html">
  </a>

</div>
<div class="calendar__day ">
  <div class="calendar__day-header">
    <div class="calendar__day-num">07</div>
    <div class="calendar__day-tegs">
      <span class="calendar__mark calendar__mark--trening"></span>
      <span class="calendar__mark calendar__mark--events"></span>
      <span class="calendar__mark calendar__mark--news"></span>
    </div>
  </div>
  <div class="calendar__day-text">
    <p>21 и 22 июня пройдут тренинги от Русской Школы Управления «Закупки. Участие в торгах».</p>
  </div>
  <span class="calendar__day-more">
    Еще 100
  </span>
  <a href="#allevents-day" class="calendar__day-link"><include src="src/html/includes/components/calendar-circle-svg.html"></a>
</div>
<div class="calendar__day">
  <div class="calendar__day-header">
    <div class="calendar__day-num">08</div>
    <div class="calendar__day-tegs">
      <span class="calendar__mark calendar__mark--trening"></span>
      <span class="calendar__mark calendar__mark--events"></span>
      <span class="calendar__mark calendar__mark--news"></span>
    </div>
  </div>
  <div class="calendar__day-text">
    <p>21 и 22 июня пройдут тренинги от Русской Школы Управления «Закупки. Участие в торгах».</p>
  </div>
  <span class="calendar__day-more">
    Еще 100
  </span>
  <a href="#allevents-day" class="calendar__day-link"><include src="src/html/includes/components/calendar-circle-svg.html"></a>

</div>
<div class="calendar__day ">
  <div class="calendar__day-header">
    <div class="calendar__day-num">07</div>
    <div class="calendar__day-tegs">
      <span class="calendar__mark calendar__mark--trening"></span>
      <span class="calendar__mark calendar__mark--events"></span>
      <span class="calendar__mark calendar__mark--news"></span>
    </div>
  </div>
  <div class="calendar__day-text">
    <p>21 и 22 июня пройдут тренинги от Русской Школы Управления «Закупки. Участие в торгах».</p>
  </div>
  <span class="calendar__day-more">
    Еще 100
  </span>
  <a href="#allevents-day" class="calendar__day-link"><include src="src/html/includes/components/calendar-circle-svg.html"></a>
</div>
<div class="calendar__day">
  <div class="calendar__day-header">
    <div class="calendar__day-num">08</div>
    <div class="calendar__day-tegs">
      <span class="calendar__mark calendar__mark--trening"></span>
      <span class="calendar__mark calendar__mark--events"></span>
      <span class="calendar__mark calendar__mark--news"></span>
    </div>
  </div>
  <div class="calendar__day-text">
    <p>21 и 22 июня пройдут тренинги от Русской Школы Управления «Закупки. Участие в торгах».</p>
  </div>
  <span class="calendar__day-more">
    Еще 100
  </span>
  <a href="#allevents-day" class="calendar__day-link"><include src="src/html/includes/components/calendar-circle-svg.html"></a>

</div>
<div class="calendar__day ">
  <div class="calendar__day-header">
    <div class="calendar__day-num">07</div>
    <div class="calendar__day-tegs">
      <span class="calendar__mark calendar__mark--trening"></span>
      <span class="calendar__mark calendar__mark--events"></span>
      <span class="calendar__mark calendar__mark--news"></span>
    </div>
  </div>
  <div class="calendar__day-text">
    <p>21 и 22 июня пройдут тренинги от Русской Школы Управления «Закупки. Участие в торгах».</p>
  </div>
  <span class="calendar__day-more">
    Еще 100
  </span>
  <a href="#allevents-day" class="calendar__day-link"><include src="src/html/includes/components/calendar-circle-svg.html"></a>
</div>
<div class="calendar__day">
  <div class="calendar__day-header">
    <div class="calendar__day-num">08</div>
    <div class="calendar__day-tegs">
      <span class="calendar__mark calendar__mark--trening"></span>
      <span class="calendar__mark calendar__mark--events"></span>
      <span class="calendar__mark calendar__mark--news"></span>
    </div>
  </div>
  <div class="calendar__day-text">
    <p>21 и 22 июня пройдут тренинги от Русской Школы Управления «Закупки. Участие в торгах».</p>
  </div>
  <span class="calendar__day-more">
    Еще 100
  </span>
  <a href="#allevents-day" class="calendar__day-link"><include src="src/html/includes/components/calendar-circle-svg.html"></a>

</div>
<div class="calendar__day ">
  <div class="calendar__day-header">
    <div class="calendar__day-num">07</div>
    <div class="calendar__day-tegs">
      <span class="calendar__mark calendar__mark--trening"></span>
      <span class="calendar__mark calendar__mark--events"></span>
      <span class="calendar__mark calendar__mark--news"></span>
    </div>
  </div>
  <div class="calendar__day-text">
    <p>21 и 22 июня пройдут тренинги от Русской Школы Управления «Закупки. Участие в торгах».</p>
  </div>
  <span class="calendar__day-more">
    Еще 100
  </span>
  <a href="#allevents-day" class="calendar__day-link"><include src="src/html/includes/components/calendar-circle-svg.html"></a>
</div>
<div class="calendar__day">
  <div class="calendar__day-header">
    <div class="calendar__day-num">08</div>
    <div class="calendar__day-tegs">
      <span class="calendar__mark calendar__mark--trening"></span>
      <span class="calendar__mark calendar__mark--events"></span>
      <span class="calendar__mark calendar__mark--news"></span>
    </div>
  </div>
  <div class="calendar__day-text">
    <p>21 и 22 июня пройдут тренинги от Русской Школы Управления «Закупки. Участие в торгах».</p>
  </div>
  <span class="calendar__day-more">
    Еще 100
  </span>
  <a href="#allevents-day" class="calendar__day-link"><include src="src/html/includes/components/calendar-circle-svg.html"></a>

</div>
<include src="src/html/includes/components/look-more.html"></include>
     