<nav class="nav">
  <div class="container">
    <div class="nav-wrap">
    <ul class="nav__list">
      <li class="nav__item">
        <strong class="nav__item-main">Деньги</strong>
        <ul>
          <li class="nav__item-sub"><a href="">Микрофинансирование</a></li>
          <li class="nav__item-sub"><a href="lising.html">Лизинг</a></li>
          <li class="nav__item-sub"><a href="">Гарантирование</a></li>
        </ul>
      </li>
      <li class="nav__item">
        <strong class="nav__item-main">Начало бизнеса</strong>
        <ul>
          <li class="nav__item-sub"><a href="">Выбор организационно-правовой формы</a></li>
          <li class="nav__item-sub"><a href="">Регистрация предпринимателей</a></li>
          <li class="nav__item-sub"><a href="">Регистрация предпринимателей</a></li>
          <li class="nav__item-sub"><a href="">Регистрация предпринимателей</a></li>
          <li class="nav__item-sub"><a href="">Консалтинг</a></li>
        </ul>
      </li>
      <li class="nav__item">
          <strong class="nav__item-main">Новости и мероприятия</strong>
          <ul>
            <li class="nav__item-sub"><a href="">Обучение</a></li>
            <li class="nav__item-sub"><a href="">Новости и мероприятия</a></li>
          </ul>
        </li>
 
      <li class="nav__item">
        <strong class="nav__item-main">Новости и мероприятия</strong>
        <ul>
          <li class="nav__item-sub"><a href="">Финансовая поддержка</a></li>
          <li class="nav__item-sub"><a href="">Имущественная поддержка</a></li>
          <li class="nav__item-sub"><a href="">Консультационная поддержка</a></li>
          <li class="nav__item-sub"><a href="">Информационная поддержка</a></li>
          <li class="nav__item-sub"><a href="">Федеральная поддержка</a></li>
          <li class="nav__item-sub"><a href="">Реестр получателей поддержки</a></li>
          <li class="nav__item-sub"><a href="">“Одно окно” для бизнеса</a></li>
        </ul>
      </li>
      <li class="nav__item">
          <strong class="nav__item-main">Инфраструктура
              поддержки МСП
              в НАО</strong>
          <ul>
            <li class="nav__item-sub"><a href="">Центр поддержки предпринимательства</a></li>
            <li class="nav__item-sub"><a href="">Центр кластерного развития</a></li>
            <li class="nav__item-sub"><a href="">Центр поддержки экспорта</a></li>
            <li class="nav__item-sub"><a href="">Центр компетенции в сфере сельхозхозяйства</a></li>
            <li class="nav__item-sub"><a href="">Центр реализации проектов</a></li>
            <li class="nav__item-sub"><a href="">Центр реализации проектов</a></li>
          </ul>
        </li>
      <li class="nav__item">
        <strong class="nav__item-main">Деньги</strong>
        <ul>
          <li class="nav__item-sub"><a href="">Микрофинансирование</a></li>
          <li class="nav__item-sub"><a href="">Лизинг</a></li>
          <li class="nav__item-sub"><a href="">Гарантирование</a></li>
        </ul>
      </li>
      <li class="nav__item">
        <strong class="nav__item-main">Деньги</strong>
        <ul>
          <li class="nav__item-sub"><a href="">Микрофинансирование</a></li>
          <li class="nav__item-sub"><a href="">Лизинг</a></li>
          <li class="nav__item-sub"><a href="">Гарантирование</a></li>
        </ul>
      </li>
      <li class="nav__item">
        <strong class="nav__item-main">Деньги</strong>
        <ul>
          <li class="nav__item-sub"><a href="">Микрофинансирование</a></li>
        </ul>
      </li>
      <li class="nav__item">
        <strong class="nav__item-main">Деньги</strong>
        <br class="d-none d-block-sm">
        <strong class="nav__item-main d-none d-block-sm">Деньги</strong>
      </li>
      <li class="nav__item d-none-sm">
        <strong class="nav__item-main">Деньги</strong>
      </li>
    </ul>
  </div>
</div>
</nav>