<nav class="nav" id="nav">
  <div class="container">
    <div class="nav-wrap">

    <ul class="nav__list">
      <li class="nav__item">
        <input id="nav-option-1" name="nav-accordion" type="checkbox">
        <label for="nav-option-1" class="nav__item-main">Деньги</label>
        <ul>
          <li class="nav__item-sub"><a href="microfinance.html">Микрофинансирование</a></li>
          <li class="nav__item-sub"><a href="lising.html">Лизинг</a></li>
          <li class="nav__item-sub"><a href="guarantee.html">Гарантирование</a></li>
        </ul>
      </li>
      <li class="nav__item">
        <input id="nav-option-2" name="nav-accordion" type="checkbox">
        <label for="nav-option-2" class="nav__item-main">Поддержка</label>
        <ul>
          <li class="nav__item-sub"><a href="support-finance.html">Финансовая поддержка</a></li>
          <li class="nav__item-sub"><a href="support-estate.html">Имущественная поддержка</a></li>
          <li class="nav__item-sub"><a href="support-consult.html">Консультационная поддержка</a></li>
          <li class="nav__item-sub"><a href="support-info.html">Информационная поддержка</a></li>
          <li class="nav__item-sub"><a href="support-federal.html">Федеральная поддержка</a></li>
          <li class="nav__item-sub"><a href="support-reestr.html">Реестр получателей поддержки</a></li>
        </ul>
      </li>
      <li class="nav__item">
          <input id="nav-option-3" name="nav-accordion" type="checkbox">
          <label for="nav-option-3" class="nav__item-main">Начало бизнеса</label>
          <ul>
            <li class="nav__item-sub"><a href="start-choiceform.html">Выбор организационно-правовой формы</a></li>
            <li class="nav__item-sub"><a href="start-reg.html">Регистрация предпринимателей</a></li>
            <li class="nav__item-sub"><a href="start-choicenalog.html">Выбор налогового режима</a></li>
            <li class="nav__item-sub"><a href="start-nalog.html">Налоговые льготы и каникулы</a></li>
            <li class="nav__item-sub"><a href="start-consulting.html">Консалтинг</a></li>
          </ul>
        </li>
    </ul>
    <ul class="nav__list">
      <li class="nav__item">
          <input id="nav-option-4" name="nav-accordion" type="checkbox">
        <label for="nav-option-4" class="nav__item-main">Прочее</label>
        <ul>
          <li class="nav__item-sub"><a href="other-laws.html">Законодательство</a></li>
          <li class="nav__item-sub"><a href="other-coord.html">Координационный совет</a></li>
          <li class="nav__item-sub"><a href="other-rating.html">Оценка регулирующего воздействия</a></li>
          <li class="nav__item-sub"><a href="other-thebest.html">Лучшие практики развития регионов</a></li>
          <li class="nav__item-sub"><a href="other-ground.html">Земельные участки</a></li>
        </ul>
      </li>
      <li class="nav__item">
          <input id="nav-option-5" name="nav-accordion" type="checkbox">
          <label for="nav-option-5" class="nav__item-main">Центры</label>
          <ul>
            <li class="nav__item-sub"><a href="centers-export.html">Центр поддержки предпринимательства</a></li>
            <li class="nav__item-sub"><a href="centers-bussiness.html">Центр кластерного развития</a></li>
            <li class="nav__item-sub"><a href="centers-claster.html">Центр поддержки экспорта</a></li>
            <li class="nav__item-sub"><a href="centers-microcredit.html">Микрокредитная компания</a></li>
            <li class="nav__item-sub"><a href="centers-real.html">Центр реализации проектов</a></li>
            <li class="nav__item-sub"><a href="centers-competition.html">Центр компетенций в сфере сельскохозяйственной кооперации и поддержки фермеров</a></li>
          </ul>
        </li>
    </ul>
    <ul class="nav__list">
      <li class="nav__item">
          <input id="nav-option-6" name="nav-accordion" type="checkbox">
        <label for="nav-option-6" class="nav__item-main">О компании</label>
        <ul>
          <li class="nav__item-sub"><a href="about-our.html">Наша деятельность</a></li>
          <li class="nav__item-sub"><a href="about-documents.html">Документы</a></li>
          <li class="nav__item-sub"><a href="about-persons.html">Наша команда</a></li>
          <li class="nav__item-sub"><a href="about-procurement.html">Закупки</a></li>
        </ul>
      </li>
      <li class="nav__item">
          <input id="nav-option-7" name="nav-accordion" type="checkbox">
        <label for="nav-option-7" class="nav__item-main">Новости и мероприятия</label>
        <ul>
          <li class="nav__item-sub"><a href="allevents.html">Новости и мероприятия</a></li>
          <li class="nav__item-sub"><a href="news-one.html">Новость</a></li>
          <li class="nav__item-sub"><a href="events-one.html">Мероприятие</a></li>
          <li class="nav__item-sub"><a href="trening-one.html">Обучение</a></li>
        </ul>
      </li>
      <li class="nav__item">
          <input id="nav-option-8" name="nav-accordion" type="checkbox">
        <label for="nav-option-8" class="nav__item-main">Контакты</label>
        <ul>
          <li class="nav__item-sub"><a href="contacts.html">Контакты</a></li>
          <li class="nav__item-sub"><a href="search.html">Страница поиска</a></li>
          <li class="nav__item-sub"><a href="404.html">404</a></li>
          <li class="nav__item-sub"><a href="settings.html">Настройки</a></li>
        </ul>
      </li>
    </ul>
    <div class="header-comein d-none d-flex-md">
        <button id="headerComeinLogin" class="header-comein__login btn-auth">Войти</button>
        <a href="reg-1.html" id="headerComeinReg" class="header-comein__reg btn btn--blue">Регистрация</a>
      </div>
  </div>
</div>
</nav>