<div class="picture-slider">
  <div class="picture-prev swiper-button-prev"><svg>
      <use xlink:href="assets/sprites/sprite.svg#arrow"></use>
    </svg></div>
  <div class="picture-next swiper-button-next"><svg>
      <use xlink:href="assets/sprites/sprite.svg#arrow"></use>
    </svg></div>
<div id="picture-slider" class="picture-container swiper-container">
  <div class="picture-wrapper swiper-wrapper">
    <div class="picture-slide swiper-slide">
      <a href="assets/images/static/1.jpg" class="fancybox" data-fancybox="gallery">
      <img class="picture-slide__img" src="assets/images/static/1.jpg" alt="">
      </a>
    </div>
    <div class="picture-slide swiper-slide">
        <a href="assets/images/static/2.jpg" class="fancybox" data-fancybox="gallery">
      <img class="picture-slide__img" src="assets/images/static/2.jpg" alt="">
      </a>
    </div>
    <div class="picture-slide swiper-slide">
        <a href="assets/images/static/1.jpg" class="fancybox" data-fancybox="gallery">
      <img class="picture-slide__img" src="assets/images/static/1.jpg" alt="">
      </a>
    </div>
    <div class="picture-slide swiper-slide">
        <a href="assets/images/static/2.jpg" class="fancybox" data-fancybox="gallery">
      <img class="picture-slide__img" src="assets/images/static/2.jpg" alt="">
      </a>
    </div>
    <div class="picture-slide swiper-slide">
        <a href="assets/images/static/1.jpg" class="fancybox" data-fancybox="gallery">
      <img class="picture-slide__img" src="assets/images/static/1.jpg" alt="">
      </a>
    </div>
    <div class="picture-slide swiper-slide">
        <a href="assets/images/static/2.jpg" class="fancybox" data-fancybox="gallery">
      <img class="picture-slide__img" src="assets/images/static/2.jpg" alt="">
      </a>
    </div>

  </div>
</div>