
.accordion {

  &__dad {
    flex: 0 0 auto;
    margin-bottom: 0;

    &-main {
      display: flex;
      align-items: center;
    }

    &-title {
      max-width: none;
      margin-bottom: 0;
      color: #ffffff;
      -webkit-text-stroke: 0.04em $text-color;
      transition-duration: 0.2s;
      cursor: pointer;
    }

    &-img {
      margin-left: 22px;
      width: 18px;
      height: 18px;
      object-fit: contain;
      fill: #ffffff;
      stroke: #000000;
      transition-duration: 0.2s;
    }

    &-checkbox {
      position: absolute;
      height: 1px;
      width: 1px;
      left: -9999rem;
    }

    &-checkbox:checked {
      ~.accordion__child {
        height: auto;
        opacity: 1;
      }
      ~.accordion__dad-main{
        .accordion__dad-title{
          color: $text-color;
          -webkit-text-stroke: 0;
        }
        .accordion__dad-img{
          transform: rotate(180deg);
          fill: $btn-hover-color;
          stroke: $btn-hover-color;
        }
      }
    }
  }

  &__child {
    @include p-l;
    padding-top: 60px;
    max-width: 1100px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition-duration: 1s;

    &-paragraph{
      font-size: 18px;
      margin-bottom: 45px;
    }
    &-row{
      flex-wrap: wrap;
    }
    &-col{
      flex: 1 1 50%;
      padding-right: 40px;
      margin-bottom: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &-caption {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 30px;
    }
    &-item{
      font-size: 18px;
      margin-bottom: 25px;
      @include li-marker;
    }
    &-document {
      a {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        span {
          flex: 0 1 auto;
          margin-right: 10px;
          max-width: 500px;
          font-size: 14px;
          font-weight: 500;
          line-height: 1.5;
          color: $text-color;
          text-decoration: underline;
        }

        svg {
          flex: 0 0 19px;
          width: 19px;
          height: 19px;
          object-fit: contain;
          fill: #B28C6B;
        }

        &:hover,
        &:focus {
          filter: none;
          span {
            color: #B28C6B;
          }

          svg {
            fill: $text-color;
          }
        }

      }
    }
  }
}

@media (max-width: $md) {
  .accordion {
    &__dad{
      margin-bottom: 20px;
    }
    &__child {
      padding-top: 30px;
      &-col.accordion__child-col--adapt{
        flex: 1 1 100%;
      }
    }
  }
}
@media (max-width: $xs) {
  .accordion {
    &__dad{
      margin-bottom: 10px;
    }
    &__child {
      padding-top: 20px;
      &-paragraph{
        font-size: 14px;
        margin-bottom: 25px;
      }
      &-col{
        padding-right: 15px;
        margin-bottom: 30px;
      }
      &-caption {
        font-size: 16px;
        margin-bottom: 10px;
      }
      &-item{
        font-size: 14px;
        margin-bottom: 10px;
        word-break: break-word;
      }
      &-document {
          svg {
            display: none;
          }
        }
      }
    }
  }
