.contacts {
  &-one{
    margin-bottom: 150px;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
  &__subtitle {
    max-width: none;
    margin-bottom: 30px;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &-info {
    max-width: 430px;

    &-row {
      display: flex;
      // justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 20px;
    }

    &-left {
      flex: 0 0 115px;
      font-size: 20px;
      font-weight: 500;
    }

    &-right {
      font-size: 20px;
    }
  }
  &-link{
    font-size: 20px;
    margin-bottom: 8px;
    margin-bottom: 10px;
    .btn{
      background-color: #f5f5f5;
    }
  }
}


@media (max-width: $md) {
  .contacts {
    &-one{
      margin-bottom: 60px;

    }
    &-content {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
}
@media (max-width: $xs) {
  .contacts {
    &-info {
  
      &-row {
        flex-wrap: wrap;
      }
  
      &-left {
        margin-bottom: 10px;
        flex: 0 0 100%;
        font-size: 16px;
      }
      &-right{
        font-size: 16px;
      }
    }
  }
}