.documents {
  .row {
    align-items: center;
  }

  &__block {
    padding: 46px 0;
    background-color: $bg-light-color;
  }

  &__list {
    flex: 1 0 75%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 120px;

  }

  &__item {
    flex: 1 1 50%;
    margin-bottom: 33px;

    a {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      span {
        flex: 0 1 auto;
        margin-right: 10px;
        max-width: 500px;
        font-size: 20px;
        font-weight: 500;
        color: $text-primary-color;
        text-decoration: underline;
      }

      &:hover,
      &:focus {
        filter: none;

        span {
          color: $text-color;
        }

        svg {
          fill: $btn-hover-color;
        }
      }
    }

    svg {
      flex: 0 0 19px;
      width: 19px;
      height: 19px;
      object-fit: contain;
      fill: #000000;
    }
  }

  &__img {
    flex: 0 1 25%;

    svg {
      width: 82px;
      height: 165px;
      object-fit: contain;
    }
  }
}

@media (max-width: $xlg) {
  .documents {


    &__item {
      a {
        span {
          max-width: 400px;
        }
      }
    }
  }
}

@media (max-width: $lg) {
  .documents {

    &__item {
      a {
        span {
          max-width: 350px;
        }
      }
    }
  }
}

@media (max-width: $md) {
  .documents {
    &__list {
      flex-basis: 100%;

    }

    &__item {
      flex-basis: 100%;

      a {
        span {
          max-width: 90%;
        }
      }
    }
  }
}

@media (max-width: $xs) {
  .documents {
    &__block {
      padding: 20px;
    }

    &__item {
      margin-bottom: 20px;

      a {
        span {
          font-size: 14px;
        }
      }
    }
  }
}