.feedback {
  position: 65px 0;


  &-col-l {
    flex: 1 1 65%;
  }

  &-form {
    &__row {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .input {
        flex: 1 1 46%;
        margin: 0 1%;
        margin-bottom: 30px;
      }

      .textarea {
        flex: 1 1 98%;
        margin: 0 1%;
        margin-bottom: 20px;
      }

    }

    &__btn {
      margin-right: 1%;
    }
  }

  &-col-r {
    flex: 1 1 35%;
    text-align: center;
    svg {
      // width: 100%;
      height: 100%;
      // object-fit: contain;
    }
  }
  #feedback__plane{
    max-height: 276px;
    transform: translate(150%, 70%);
    transition-duration: 1.5s;
    &.animation_plane{
      transform: translate(0, 0);
    }
  }
}



@media (max-width: $xs) {
  .feedback {

    &-form {
      &__row {
        flex-wrap: wrap;

        .input {
          flex: 1 1 100%;
        }
      }
      // &__btn {
      //   margin-right: auto;
      // }
    }
  }
}