.header{
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
  &-wrap{
    display: flex;
    padding: 20px 30px 16px;
    border-bottom: 2px solid rgba(#ffffff, 0.5);
  }
  &__logo{
    flex: 0 0 12%; //65px
    text-transform: uppercase;
    font-size: 24px;
    &--red{
      color: #da2346;
    }
  }
  &-nav{
    flex: 1 1 auto;
    
    &__list{
      max-width: 650px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
    &__item{
      font-size: 20px;
      transform: scaleX(0.8);
      a:hover{
        color: $primary-color;
      }
    }
  }
  &-socials{
    flex: 0 0 auto;
    &__list{
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    &__item{

      margin-right: 5px;
      width: 28px;
      height: 28px;
      background-color: #c7c3d3;
      border-radius: 50%;
      svg{
        width: 28px;
        height: 28px;
        stroke: #c7c3d3;
        // stroke-width: 5px;
        fill: #43366a;
      }

      &.toggle{
        display: none;
      }
    }
  }
}

@media (max-width: $sm){
  .header{
    &-nav{
      position: absolute;
      right: 0;
      top: 0;
      background-color: $dark-color;
      padding: 20px;
      transform: translateX(100%);
      transition-duration: 0.4s;
      &.open{
        transform: translateX(0);
      }
      &__list{
        flex-direction: column;
      }
      &__item{
        height: 30px;
      }
    }
    &-socials{
      &__item{
        
        &.toggle{
          display: block;
          background-color: rgba(#fff, 0);
          color: #fff;
          font-size: 16px;
          button{
            cursor: pointer;
            background-color: rgba(#fff, 0);
            color: #fff;
            height: 100%;
          }
        }
      }
    }
  }
}
 