.links{
  padding: 80px 0 100px;
  &__box {
    display: flex;
    justify-content: space-between;
    max-width: 1192px;
    margin: 0 auto;
    padding: 23px 22px;
    border: 2px solid $text-primary-color;
    &-col{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 20px;
            a{
              margin: 10px 0;
            }
    }
  }
}

@media (max-width: $lg) {
  .links{
    &__box {
      padding: 7px 7px;
      &-col{
        padding: 0 7px;
      }
    }
  }
}
@media (max-width: $md) {
  .links{
    &__box {
      max-width: 630px;
      flex-wrap: wrap;
      &-col{
        a{
          img{
            width: 100%;
            height: auto;
          }
        }
      }
 
      &-col:first-child{
        flex-basis: 100%
      }
      &-col:nth-child(2){
        flex-basis: 60%
      }
      &-col:nth-child(3){
        flex-basis: 40%
      }
    }
  }
}
@media (max-width: $xxs) {
  .links{
    &__box {
      &-col:nth-child(2){
        flex-basis: 100%
      }
      &-col:nth-child(3){
        flex-basis: 100%
      }
    }
  }
}