.lising-types{
  &__definitions{
    @include p-l;
    // max-width: 1204px;
    dt{
      display: flex;

      font-size: 36px;
      font-weight: 500;
      color: $text-primary-color;
      margin-bottom: 15px;
      &::before{
        content: "\201C";
      }
      &::after{
        content: "\201D";
      }
    }
    dd{
      margin-bottom: 50px;
      p{
        font-size: 18px;
        line-height: 1.5;
      }
    }
  }
}

@media (max-width: $md) {
  .lising-types{
    &__definitions{
      dt{
        font-size: 24px;
      }
    }
  }
}
@media (max-width: $xs) {
  .lising-types{
    &__definitions{
      dt{
        font-size: 18px;
        margin-bottom: 10px;
      }
      dd{
        margin-bottom: 30px;
        p{
          font-size: 14px;
        }
      }
    }
  }
}