.main-page {

  .row {
    align-items: center;
  }

  &-content {
    flex: 0 1 60%;
  }

  &-figure {
    flex: 0 1 40%;
  }

  &__title {
    margin-bottom: 55px;
  }

  &__text {
    @include p-l;
    padding-right: 50px;
    font-size: 17px;
    line-height: 1.5;

    p {
      margin-bottom: 1.5em;


    }
  }
}

@media only screen and (max-width: $lg) {
  .main-page {
    &__text {
      // padding-left: 80px; 
      padding-right: 30px;
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: $md) {
  .main-page {
    &__title {
      margin-bottom: 40px;
    }

    &__text {
      // padding-left: 0; 
      padding-right: 20px;
    }
  }
}

@media only screen and (max-width: $sm) {
  .main-page {

    .row {
      flex-direction: column-reverse;
    }

    &-content {
      flex: 1 1 100%;
    }

    &-figure {
      width: 100%;
      margin-bottom: 20px;

      svg {
        width: 100%;
        height: auto;
      }
    }

  }
}