.main{
  &-swiper{
    &-container{
      height: 554px;
    }
    &-slide{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      background: {
        repeat: no-repeat;
        color: transparent;
        image: url('assets/images/static/banner-bg.png');
        size: cover;
        position: center;
      }
      &__inner-wrap{
        position: relative;
        padding: 37px 40px 55px;
        border: 1px solid rgba(#ffffff,0.5);
        border-bottom: transparent;
        text-align: center;
        &::before, &::after{
          content: "";
          position: absolute;
          bottom: 0;
          height: 1px;
          width: 33%;
          background-color: rgba(#ffffff,0.5);
        }
        &::before{
          left: 0;
        }
        &::after{
          right: 0;
        }
      }
      &__title{
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 17px;
        font-size: 48px;
        transform: scaleX(0.85);
      }
      &__text{
        max-width: 343px;
        margin: 0 auto;
        font-family: 'Myriad', sans-serif;
        font-size: 9px;
        line-height: 2;
      }
      &__btn{
        display: inline-block;
        position: absolute;
        height: 36px;
        bottom: 0;
        left: 50%;
        padding: 0 26px;
        border: 3px solid #ffffff;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 28px;
        transform: translate(-50%, 50%);
      }
    }
    &-arrow{
      &.swiper-button-prev:after, &.swiper-button-next:after{
        font-size: 23px;
      }
      &.swiper-button-prev, &.swiper-button-next{
        top: 53%;
        height: 34px;
        color: rgba(#ffffff,0.5);
        border: 1px solid rgba(#ffffff,0.5);
      }
      &.swiper-button-prev{
        left: 44px;
      }
      &.swiper-button-next{
        right: 44px;
      }
    }
  }
}

@media (max-width: $sm){
  .main-swiper-slide__title{
    font-size: 40px;
  }
  .main-swiper-slide__inner-wrap{
    padding-right: 5px;
    padding-left: 5px;
  }
}
@media (max-width: $xs){

  .main-swiper-slide__inner-wrap{
    // padding: 0;
    border: 0;
    &::before,&::after{
      display: none;
    }
  }
  .main-swiper{
    &-arrow{
      &.swiper-button-prev{
        left: 10px;
      }
      &.swiper-button-next{
        right: 10px;
      }
    }
  }
}