.microfinance-calc {
  &__wrap{
    @include p-l;
  }
  &__subtitle{
    font-size: 36px;
    font-weight: 500;
    color: $text-primary-color;
    margin-bottom: 15px;
  }
  
  &__thumbs {
    position: relative;
    width: 22%;


    &-container {
      height: 400px;
    }

    &-item {
      display: block;
      padding-top: 13px;
      display: flex;
      position: relative;
      
      font-size: 12px;
      font-weight: 500;
      color: $text-no-active;
      transition-duration: 0.2s;
      cursor: pointer;
      &-text{
        display: inline-block;
        max-width: 140px;
      }
      &-num {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 14px;
      }

      &.swiper-slide-thumb-active {
        font-size: 24px;
        color: $text-color;
        .microfinance-calc__thumbs-item-text {
          max-width: none;
        }
        &::after {
          content: "";
          position: absolute;
          right: 15px;
          top: 24px;
          height: 2px;
          width: 30px;
          background-color: $text-color;
        }
      }

      &.swiper-slide-thumb-prev, &.swiper-slide-thumb-next {
        font-size: 18px;
        .microfinance-calc__thumbs-item-text {
          max-width: none;
        }
      }
    }
  }

  &__main {
    width: 78%;
    background-color: $bg-light-color;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);

    &-item {
      padding: 70px 9px 60px 34px;
      display: flex;
      justify-content: space-between;
      visibility: hidden;

      &.swiper-slide-active {
        visibility: visible;
      }
    }

    &-caption{
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    &-term{
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 2px;
    }
    &-def{
      font-size: 14px;
      font-weight: 200;
      margin-bottom: 10px;
    }
    &-row{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
    }
    &-label{
      flex: 1 1 400px;
      color: #828282;
      font-size: 18px;
      font-weight: 300;
    }
    &-input{
      flex: 1 1 400px;
      color: $text-orange;
      &::placeholder {
        color: $text-orange;
      }
    }
    &-btn{
      margin-top: 80px;
      margin-left: auto;
    }
    
  }
}




@media (max-width: $lg) {
  .microfinance-calc {
    &__main{
      &-label{
        font-size: 16px;
      }
    }
  }
}

@media (max-width: $md) {
  .microfinance-calc {
    &__thumbs {
      width: 40%;
    }
    &__main{
      width: 60%;
      &-item{
      padding: 70px 17px 60px 15px;
        flex-direction: column;
      }
      &-rules{
        margin-bottom: 40px;
      }
      &-label{
        font-size: 14px;
      }
      &-input{
        max-width: 160px;
      }
      &-btn{
        margin-top: 50px;
      }
      
    }
  }
}
@media (max-width: $xs) {
  .microfinance-calc {
    &__row{
      flex-direction: column;
    }
      
  &__thumbs {
    margin-bottom: 33px;
    width: 100%;
    &::after{
      content: "";
      position: absolute;
      left: 40px;
      bottom: -20px;
      height: 30px;
      width: 2px;
      background-color: $text-color;
    }
    &-item {

      &.swiper-slide-thumb-active {
        &::after {
          display: none;
        }
      }
    }
  }
  &__main{
    width: 100%;
  }
  }
}
@media (max-width: $xxs) {
  .microfinance-calc {
    &__row{
      flex-direction: column;
    }
      
 
  &__main{
    &-row{
      flex-direction: column;
      align-items: flex-start;
    }
    &-label{
      flex: 0 0 auto;
      max-width: 170px;
      margin-bottom: 10px;
    }
    &-input{
      flex: 0 0 auto;
    }
    &-btn{
      margin-top: 30px;
      margin-left: 13px;
      margin-right: auto;
    }
  }
  }
}