.navblock {
  background-color: $primary-color;
  min-height: 100vh;
  padding-top: 90px;
  padding-bottom: 80px;

  &-wrap {
    display: flex;
    position: relative;
  }

  &-col-l {
    flex: 1 1 700px;
    position: relative;
  }

  &-col-r {
    flex: 1 1 300px;
  }

  &__thumbs {
    position: relative;

    &-frommain {
      position: absolute;
      right: 30px;
      top: 50%;
      max-width: 50%;
      transform: translateY(-50%);
      img, object, object svg {
        max-width: 100%;
        width: 455px;
        object-fit: contain;
        object-position: right bottom;
      }
    }

    &-container {
      // height: $heightSlider;
      height: 650px;
    }

    &-item {
      display: block;
      padding-top: 13px;
      display: flex;
      position: relative;
      max-width: 50%;
      font-size: 24px;
      font-weight: 900;
      color: $primary-color;
      -webkit-text-stroke: 0.04em $text-color;
      transition-duration: 0.2s;
      cursor: pointer;

      &::before {
        content: "\2014\00A0";
        font-size: 24px;
        font-weight: normal;
        color: $text-color;
        -webkit-text-stroke: 0;
      }

      &-num {
        position: absolute;
        top: 0;
        left: 28px;
        font-size: 0.4em;
        color: $text-color;
        -webkit-text-stroke: 0;
      }

      &.swiper-slide-thumb-active {
        // padding-top: 25px;
        max-width: none;
        font-size: 39px;
        color: $text-color;
        -webkit-text-stroke: 0;
        transform-origin: 0%;

        &+.navblock__thumbs-item {
          font-size: 30px;
        }
      }

      &.swiper-slide-next {
        max-width: none;
      }
    }
  }

  &__main {
    &-container {
      height: 650px;
    }

    &-item {
      padding-top: 90px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // background-color: $primary-color;
      visibility: hidden;

      &.swiper-slide-active {
        visibility: visible;
      }
    }

    &-text {
      flex: 1 1 50px;

      p {
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
      }
    }

    &-list {
      flex: 0 1 400px;
      text-align: right;
      padding-right: 5px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      li {
        font-size: 18px;
        margin-bottom: 10px;
       
        .link-with-squarebtn__btn {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

@media (max-width: 1597px) {
  .navblock {

    &__thumbs {
      &-item {
        &.swiper-slide-thumb-active {
          font-size: 36px;
        }
      }
    }
  }
}
@media (max-width: $xlg) {
  .navblock {

    &__thumbs {

      &-frommain {
        max-width: 45%;
      }

      &-item {
        &.swiper-slide-thumb-active {
          font-size: 35px;

          &+.navblock__thumbs-item {
            font-size: 28px;
          }
        }
      }
    }

    &__main {

      &-text {

        p {
          font-size: 14px;
        }
      }

      &-list {

        li {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: $lg) {
  .navblock {
    &-col-l {
      flex: 1 1 600px;
    }

    &-col-r {
      position: absolute;
      max-width: 65%;
      max-height: 100%;
      top: 0;
      right: 10px;
    }

    &__thumbs {

      &-frommain {
        display: none;
      }

      &-container {
        height: 600px;
      }

      &-item {
        max-width: 30%;
        font-size: 20px;

        &.swiper-slide-thumb-active {

          &+.navblock__thumbs-item {
            font-size: 26px;
          }
        }
      }
    }

    &__main {
      &-container {
        height: 700px;
      }

      &-item {
        padding-top: 80px;
      }

      &-img {
        &-figure, &-figure object, &-figure img{
          height: 230px;
          width: 100%;
          object-fit: contain;
          object-position: center;
        }

      }

      &-list {
        li {
          font-size: 18px;

          .btn {
            width: 34px;
            height: 34px;
          }
        }
      }
    }
  }
}

@media (max-width: $md) {
  .navblock {
    padding-top: 90px;
    padding-bottom: 70px;
    &-col-r {
      max-width: 55%;
      top: 0;
      right: 10px;
    }

    &__thumbs {
      &-item {
        max-width: 40%;
        font-size: 20px;

        &.swiper-slide-thumb-active {
          font-size: 29px;

          &+.navblock__thumbs-item {
            font-size: 24px;
          }
        }
      }
    }

    &__main {
      &-item {
        padding-top: 80px;
      }

      &-list li{
        font-size: 16px;
      }
      &-img {
        img {
          height: 200px;
        }
      }
    }
  }
}


@media (max-width: $sm) {
  .navblock {
    &__main{
      &-container {
        height: 800px;
      }
      &-list li{
        font-size: 14px;
      }
    }
  }
}
@media (max-width: $xs) {
  .navblock {
    padding-top: 86px;
    padding-bottom: 40px;
    &-wrap {
      flex-direction: column;
    }
    &-col-l {
      max-width: 100%;
    }
    &-col-r {
      max-width: 100%;
      position: static;
    }

    &__thumbs {
      
      &-item {
        max-width: none;
        font-size: 28px;
        &.swiper-slide-thumb-active {
          font-size: 28px;
          padding-top: 13px;
  
          .navblock__thumbs-item-num {
            top: 0;
          }
          &+.navblock__thumbs-item {
            font-size: 28px;
          }
        }
      }
    }
    &__main {

      &-item {
        padding-top: 30px;
      }
      &-title{
        margin-bottom: 0;
      }
    }
  }
}
@media (max-width: $xxs) {
  .navblock {
    &-col-l {
      flex-basis: 450px;
    }
    &__thumbs {
      &-container{
        height: 450px;
      }
      &-item {
        font-size: 21px;
        &.swiper-slide-thumb-active {
          font-size: 21px;
          padding-top: 13px;

          &+.navblock__thumbs-item {
            font-size: 21px;
          }
        }
      }
    }
  }
}