.search{
  &__title{
    margin-bottom: 30px;
  }
  &-search {
    max-width: 569px;
    width: 100%;
    display: flex;
    border: 2px solid #000000;
    margin-bottom: 11px;
    &__input {
      width: 100%;
      padding: 5px;
      height: 51px;

      border: 0;

      color: $text-color;
      font-size: 30px;
      &::placeholder{
        color: #908B8B;
      }
    }

    &__btn {
      position: relative;
      width: 50px;
      height: 51px;
      padding: 0;
      text-align: center;
      cursor: pointer;
      background: {
        color: #F36A4D;
        repeat: no-repeat;
        position: center;
        size: contain;
      }
      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 33px;
        height: 30px;
      }
      &:focus {
        box-shadow: 0 0 0 2px $focus-color;
      }
    }
    &__undertext{
      font-size: 14px;
      color:#908B8B;
      margin-bottom: 36px;
      a{
        color: $text-orange;
      }
    }
  }
  &__titlecat{
    font-size: 14px;
  }
  &__categories{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 52px;
  }
  &__category{
    margin-top: 20px;
    margin-right: 30px;

    font-size: 18px;
    font-weight: 300;
    text-decoration: underline;
  }
  &__results{
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__result{
    max-width: 780px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
  }
  &__look-more{
    margin: 0 auto;
    margin-top: 90px;
  }

}


@media (max-width: $xs) {
  .search{
    &__title{
      margin-bottom: 20px;
    }
    &-search {
      &__input {
        height: 32px;
        font-size: 20px;
      }
  
      &__btn {
        position: relative;
        width: 30px;
        height: 32px;
       
        svg {
          width: 22px;
          height: 20px;
        }
      }
      &__undertext{
        margin-bottom: 30px;
      }
    }
   
    &__categories{
      margin-bottom: 30px;
    }
    &__category{
      margin-right: 20px;
  
      font-size: 14px;
    }
    &__results{
      padding-left: 0;
    }
    &__result{
      font-size: 16px;
      font-weight: 500;
    }
    &__look-more{
      margin-top: 30px;
    }
  
  }
}