.settings {
  &__backto {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    color: $text-orange;
    margin-bottom: 50px;

    svg {
      width: 44px;
      height: 7.5px;
    }


  }

  &-form {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 20px 0;

    &-col-1 {
      margin: 0 30px 0 50px;
      flex: 0 0 200px;
      font-size: 20px;
    }

    &-col-2 {
      flex: 1 1 auto;
      display: flex;
    }

    &-read {
      display: flex;
    }

    &__text {
      font-size: 20px;
      font-weight: 900;
    }

    &__tochange {
      display: flex;
      align-items: center;

      background-color: rgba(#fff, 0);
      border: 0;
      box-shadow: none;

      font-size: 15px;
      font-weight: 400;
      color: $text-orange;
      text-decoration: underline;
      margin-left: 40px;

      cursor: pointer;
      transition-duration: 0.2s;
      &-d-xs{
        display: none;
      }
      &-pen {
        width: 15px;
        height: 15px;
        margin-right: 8px;
      }

      &:hover {
        color: #000000;
      }
    }

    &-edit {
      display: none;
      align-items: flex-end;

      &--password {
        display: flex;
      }
    }

    &__label {
      position: relative;
      padding-top: 15px;
      margin-right: 40px;

      &:last-of-type {
        margin-right: 0;
      }

      &-text {
        position: absolute;
        top: 0;
        // bottom: 30px;
        font-size: 12px;
      }
    }

    &__input {
      width: 196px;
      height: 20px;
      line-height: 1;
      padding-left: 0;

      font-size: 13px;
      font-weight: 500;
      color: $text-orange;
    }

    &__btn {
      margin-left: 40px;

      &--cancel {
        font-size: 15px;
        font-weight: 600;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
          text-decoration: none;
        }
      }
    }

  }

  &-events {
    &__item {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 700px;
      margin-bottom: 30px;
    }

    &__text {
      font-size: 20px;

    }

    &__close {
      flex: 0 0 auto;
      width: 16px;
      height: 16px;
      margin-left: 15px;
      padding-top: 0.1em;

      svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

@media (max-width: $xlg) {
  .settings-form {
    &__label {
      margin-right: 10px;
    }

    &__btn {
      margin-left: 10px;
    }
  }
}

@media (max-width: $lg) {
  .settings {
    &-form {
      &-edit {
        flex-wrap: wrap;
      }

      &__btns {
        flex-basis: 100%;
        text-align: right;
        margin-top: 30px;
      }
    }
  }
}
@media (max-width: $md) {
  .settings {
    &-form {
      &-col-1 {
        margin-left: 0;
        margin-right: 10px;
        font-size: 18px;
        flex-basis: 150px;
      }
      &__label {
        padding-top: 0;
        padding-bottom: 30px;
        &-text {
          top: auto;
          bottom: 0;
        }
      }
      &__input{
        width: 170px;
      }
    }
    &-events {
  
      &__text {
        font-size: 18px;
  
      }
    }
  }
}
@media (max-width: $sm) {
  .settings {
    &-form {
      flex-direction: column;
      &-col-1 {
        flex-basis: 40px;
      }
      &__btns{
          text-align: left;
      }
      &__btn{
        margin-left: 0;
      }
    }
  }
}
@media (max-width: $xs) {
  .settings {
    &-form {
      &-read{
        flex-direction: column;
      }
      &__tochange{
        margin-left: 10px;
        &-d-none-xs{
          display: none;
        }
        &-d-xs{
          display: inline-block;
        }
      }
      &-edit{
        flex-direction: column;
        align-items: flex-start;
      }
      &__btns{
        flex-basis: auto;
    }
    }
    &-events {
  
      &__text {
        font-size: 14px;
  
      }
    }
  }
}