// блок - сноска после блока Поддержки
.support__footnote{
  font-size: 20px;
  font-weight: 500;
  a{
    color:$text-orange;
  }
}
@media (max-width: $xs) {
  .support__footnote{
    font-size: 14px;
  }
}