// Font
$mainFont            : 'Gotham Pro', 'Roboto', Arial, sans-serif;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.1;

//TextColor
$text-color           :  #000000;
$text-primary-color   : #D69F76;
$text-light-color         : #ffffff;
$text-orange: #F27656;
$text-no-active: #828282;

// Main color
$default-color           : #ffffff;
$primary-color           : #D1E1EF;
$focus-color              : #3D7CC9;

$footer-color           : #8D6354;
$bg-light-color             : #F3F8FE;


$trening: #C69369;
$events: #8082BA;
$news: #ED5136;

//form
$text-placeholder-color         : #918B8B;
$btn-hover-color          :     #ED5136;

$xlg: 1485px;
$lg: 1240px;
$md: 992px;
$sm: 768px;
$xs: 576px;
$xxs: 450px;