// Font
$mainFont            : 'Sansation', 'Roboto', Arial, sans-serif;
$mainFontSize            : 12px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.1;

//TextColor
$text-light-color         : #cdc8c8;

// Main color
$primary-color           : #097e89;

$darker-color           : #373737;
$dark-color             : #3d3d3d;
$light-color             : #959595;


$lg: 1000px;
// $md: 992px;
$sm: 768px;
$xs: 576px;
$xxs: 450px;