@import "base/reset";
@import "base/fonts";
@import "helpers/vars";
@import "helpers/mixins";
@import "lib/swiper";


html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: #000000;
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  transition-duration: 0.2s;
}

// a:hover {
//   filter: brightness(85%);
// }

address {
  font-style: normal;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  max-width: 999px;
  margin: 0 auto;
}

.section-title {
  display: flex;
  justify-content: center;
  // align-items: center;
  padding: 46px 40px 50px;

  &__text {
    flex: 0 0 auto;
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 9px;
  }

  &__decore {
    position: relative;
    flex: 1 1 50%;
    border-bottom: 1px solid #fff;
    margin-bottom: 8px;

    &::after {
      content: "";
      position: absolute;
      bottom: -1.5px;
      height: 3px;
      width: 70px;
      background-color: #fff;
    }

    &--right::after {
      left: 0;
    }

    &--left::after {
      right: 0;
    }
  }

  &.section-title--dark {
    background-color: $darker-color;

    .section-title {
      &__text {
        color: #ffffff;
      }

      &__decore {
        border-bottom: 1px solid #fff;

        &::after {
          background-color: #fff;
        }
      }
    }
  }

  &.section-title--light {
    background-color: #fff;

    .section-title {
      &__text {
        color: #656464;
      }

      &__decore {
        border-bottom: 1px solid #656464;

        &::after {
          background-color: #656464;
        }
      }
    }
  }
}

@media (max-width: $sm){
  .section-title {
    &__text {
      font-size: 30px;
    }
  }
}

// Layouts
@import "layout/header.scss";
@import "layout/main.scss";
@import "layout/about.scss";
@import "layout/services.scss";
@import "layout/feedback.scss";
@import "layout/clients.scss";
@import "layout/callback.scss";
@import "layout/footer.scss";